{%- extends 'html.njk' -%}

{%- block body -%}
  {%- include 'partials/header.njk' -%}
  {%- block body_content -%}{%- endblock body_content -%}
  {%- include 'partials/footer.njk' -%}
{%- endblock body -%}