{%- extends 'html.njk' -%}

{%- block body_content -%}
  {%- include 'partials/header.njk' -%}
  <h1>TODO</h1>
  {{ content | safe }}
  {%- include 'partials/footer.njk' -%}
{%- endblock body_content -%}