{%- extends 'html.njk' -%}
{%- from 'components/hero.njk' import hero -%}
{%- from 'components/dateViewer.njk' import dateViewer -%}
{%- from 'components/tagsList.njk' import tagsList -%}
{%- from 'components/images/icons.njk' import commentsSolid, github -%}

{% set section = "blog" %}

{%- set hero_content -%}
<h1>
  <span>{{ title }}</span></h1>
{%- if subtitle -%}
  <h2>
    <span>{{ subtitle }}</span></h2>
{%- endif -%}
{%- endset -%}

{%- block body_content -%}
  {%- include 'partials/header.njk' -%}
  {{ hero(hero_content, "textOverlay", header_img | filecopy | default('/public/default-bg.jpg') ) }}
  <div class="post__contentContainer">
    <section class="post__content">
      <div class="post__columns">

        <main class="post__columns_column--main">
          <div class="post__article_sectionContainer">
            {{ dateViewer(date, 'dateViewer__no-left-margin') }}
            {{ tagsList(tags) }}
            <a href="#comments" title="Read comments">
              {{ commentsSolid("margin: 0 .25em 0 1em") }}
              <span class="disqus-comment-count" data-disqus-identifier="{{permalink}}">comments</span>
            </a>
            <p class="post__article_sectionContainer--publishedBy">
              — Published by <a href="https://twitter.com/loige" rel="nofollow noopener noreferrer" target="_blank" class="css-1u9uk5p e1ondplw2"><img alt="Luciano Mammino's profile picture" src="https://unavatar.now.sh/github/lmammino" class="css-1gejjbo e1ondplw1">Luciano Mammino</a>
            </p>
          </div>
          <article class="post__article_container">
            {{ content | safe }}
          </article>
          <div class="post__article_githubSectionContainer">
            <strong>Found a typo or something that can be improved?</strong>
            <br/>
            In the spirit of Open Source, you can contribute to this article by
            <a href="https://github.com/lmammino/loige.co/blob/master/{{page.inputPath.substr(2)}}" target="_blank" rel="noopener noreferrer">
              submitting a PR on {{ github() }} GitHub
            </a>
          </div>
          <div class="post__article_sectionContainer post__article_sectionContainer--comments">
            <h2 id="comments">{{ commentsSolid('margin: 0px 0.25em; line-height: 1.2') }} Comments</h2>
            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = '{{site.metadata.siteUrl}}{{permalink}}'; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '{{permalink}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function () {
                var d = document,
                  s = d.createElement('script');
                s.src = 'https://{{site.metadata.disqusShortName}}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', + new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
            <script id="dsq-count-scr" src="//{{site.metadata.disqusShortName}}.disqus.com/count.js" async></script>
          </div>
        </main>

        <aside class="post__sidebar">
          {%- include 'partials/sidebarAd.njk' -%}
          <div>
            <p>TODO: headings</p>
            {{ content | toc ({tags:["h2","h3"],wrapper:"div",wrapperClass:"content-tableau"}) | safe }}

            <h3 style="margin-top: 1em">Share</h3>
            <p>TODO: social share</p>

            <h3 style="margin-top: 1em">Similar posts</h3>
            <p>TODO: similar posts</p>
          </div>
        </aside>

      </div>

    </section>
  </div>

  <ul class="prevNextPosts__container">
    TODO: prev next post
  </ul>

  {%- include 'partials/footer.njk' -%}

{%- endblock body_content -%}