---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

type Props = {
  section?: 'blog' | 'speaking' | 'about'
}

const { section } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="overscroll-y-none flex flex-col">
    <Header section={section} />
    <main class="min-h-screen pb-32">
      <slot />
    </main>
    <Footer />
  </body></html
>
