---
type Props = {
  class?: string
}
---

<svg
  role="img"
  viewBox="0 0 752 304"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  class={Astro.props.class || ''}
>
  <title>Microsoft MVP (Most Valuable Professional) Badge</title>
  <g transform="matrix(4.16667,0,0,4.16667,0,0)">
    <rect x="0" y="0" width="180.25" height="72.75" style="fill:transparent;"
    ></rect>
    <g transform="matrix(1,0,0,1,39.7827,4.6599)">
      <path
        d="M0,63.43L-31.725,31.708L-0.02,0L31.707,31.728L0,63.43ZM1.901,40.65L5.836,40.65L10.719,21.518L7.01,21.518L4.355,34.056C4.232,34.752 4.136,35.413 4.075,36.043L4.007,36.551L3.915,36.551C3.855,35.573 3.753,34.763 3.622,34.124L0.966,21.518L-2.851,21.518L1.901,40.65ZM15.526,24.724L16.754,24.724C17.509,24.724 18.125,24.979 18.595,25.495C19.065,26.003 19.301,26.776 19.301,27.808C19.301,29.905 18.466,30.954 16.792,30.954L15.526,30.954L15.526,24.724ZM15.526,34.124L17.062,34.124C18.882,34.124 20.35,33.512 21.463,32.284C22.574,31.053 23.13,29.499 23.13,27.614C23.13,25.631 22.623,24.12 21.609,23.077C20.605,22.04 19.19,21.518 17.368,21.518L11.845,21.518L11.845,40.65L15.526,40.65L15.526,34.124ZM-11.558,33.057C-11.666,33.545 -11.777,34.328 -11.891,35.405L-11.983,36.112L-12.05,36.112C-12.104,35.32 -12.263,34.338 -12.533,33.164L-15.212,21.518L-20.375,21.518L-20.375,40.65L-17.321,40.65L-17.321,30.509C-17.321,28.758 -17.367,26.982 -17.454,25.187L-17.348,25.187L-16.83,28.575L-13.907,40.65L-10.542,40.65L-7.755,28.403C-7.491,27.07 -7.302,25.995 -7.183,25.187L-7.101,25.187C-7.191,27.118 -7.236,28.559 -7.236,29.522L-7.236,40.65L-4.076,40.65L-4.076,21.518L-9.037,21.518L-11.558,33.057Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,90.6909,11.3761)">
      <path
        d="M0,16.223L0,6.788C0,5.973 0.038,4.748 0.113,3.112L0.045,3.112C-0.053,3.798 -0.215,4.706 -0.441,5.838L-2.806,16.223L-5.656,16.223L-8.134,5.985L-8.575,3.112L-8.665,3.112C-8.591,4.635 -8.553,6.14 -8.553,7.625L-8.553,16.223L-11.143,16.223L-11.143,0L-6.765,0L-4.491,9.876C-4.265,10.872 -4.129,11.705 -4.084,12.376L-4.027,12.376L-3.948,11.777C-3.851,10.865 -3.756,10.201 -3.665,9.786L-1.527,0L2.68,0L2.68,16.223L0,16.223Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,0,-34.329)">
      <path
        d="M95.918,50.344L98.869,50.344L98.869,61.928L95.918,61.928L95.918,50.344ZM97.377,48.749C96.855,48.749 96.43,48.572 96.098,48.217C95.766,47.863 95.6,47.436 95.6,46.939C95.6,46.396 95.769,45.962 96.109,45.638C96.449,45.314 96.871,45.151 97.377,45.151C97.92,45.151 98.355,45.317 98.689,45.649C99.021,45.981 99.185,46.411 99.185,46.939C99.185,47.467 99.021,47.9 98.689,48.24C98.355,48.579 97.92,48.749 97.377,48.749"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,107.603,16.4783)">
      <path
        d="M0,10.657C-0.574,11.102 -1.361,11.324 -2.365,11.324C-3.662,11.324 -4.736,10.783 -5.59,9.701C-6.441,8.619 -6.867,7.248 -6.867,5.589C-6.867,3.636 -6.42,2.104 -5.527,0.996C-4.633,-0.113 -3.463,-0.667 -2.014,-0.667C-1.078,-0.667 -0.408,-0.505 0,-0.18L0,2.41C-0.424,1.966 -0.943,1.743 -1.562,1.743C-2.248,1.743 -2.793,2.074 -3.195,2.738C-3.6,3.402 -3.801,4.281 -3.801,5.374C-3.801,6.521 -3.617,7.393 -3.246,7.993C-2.877,8.593 -2.361,8.892 -1.697,8.892C-1.049,8.892 -0.482,8.677 0,8.247L0,10.657Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,115.522,24.6354)">
      <path
        d="M0,-5.86C-0.338,-6.003 -0.68,-6.075 -1.018,-6.075C-2.451,-6.075 -3.168,-5.008 -3.168,-2.874L-3.168,2.964L-6.119,2.964L-6.119,-8.62L-3.168,-8.62L-3.168,-6.697L-3.121,-6.697C-2.715,-8.115 -1.92,-8.824 -0.734,-8.824C-0.502,-8.824 -0.256,-8.786 0,-8.711L0,-5.86Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,120.5,25.3712)">
      <path
        d="M0,-7.128C-1.109,-7.128 -1.664,-5.955 -1.664,-3.61C-1.664,-1.204 -1.109,-0.001 0,-0.001C1.1,-0.001 1.65,-1.241 1.65,-3.723C1.65,-5.992 1.1,-7.128 0,-7.128M-0.047,2.432C-1.539,2.432 -2.693,1.908 -3.508,0.859C-4.322,-0.189 -4.729,-1.671 -4.729,-3.587C-4.729,-5.495 -4.311,-6.967 -3.473,-8.005C-2.637,-9.041 -1.479,-9.56 0,-9.56C1.486,-9.56 2.641,-9.047 3.467,-8.022C4.293,-6.996 4.707,-5.57 4.707,-3.745C4.707,-1.755 4.295,-0.227 3.478,0.836C2.66,1.9 1.486,2.432 -0.047,2.432"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,126.711,16.3886)">
      <path
        d="M0,10.837L0,8.269C0.82,8.842 1.678,9.129 2.566,9.129C3.48,9.129 3.936,8.749 3.936,7.986C3.936,7.685 3.814,7.431 3.574,7.223C3.332,7.016 2.99,6.783 2.545,6.527C1.467,5.909 0.766,5.316 0.439,4.751C0.115,4.185 -0.047,3.574 -0.047,2.918C-0.047,1.877 0.311,1.035 1.023,0.39C1.736,-0.255 2.721,-0.577 3.982,-0.577C4.848,-0.577 5.645,-0.434 6.367,-0.148L6.367,2.364C5.568,1.927 4.867,1.708 4.264,1.708C3.352,1.708 2.895,2.089 2.895,2.85C2.895,3.092 2.975,3.314 3.139,3.518C3.301,3.721 3.713,4.008 4.377,4.377C5.381,4.951 6.043,5.506 6.367,6.041C6.693,6.576 6.855,7.194 6.855,7.896C6.855,8.937 6.506,9.783 5.809,10.436C5.109,11.088 4.098,11.414 2.77,11.414C1.623,11.414 0.701,11.222 0,10.837"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,139.539,25.3712)">
      <path
        d="M0,-7.128C-1.109,-7.128 -1.664,-5.955 -1.664,-3.61C-1.664,-1.204 -1.109,-0.001 0,-0.001C1.101,-0.001 1.65,-1.241 1.65,-3.723C1.65,-5.992 1.101,-7.128 0,-7.128M-0.045,2.432C-1.539,2.432 -2.693,1.908 -3.508,0.859C-4.322,-0.189 -4.729,-1.671 -4.729,-3.587C-4.729,-5.495 -4.311,-6.967 -3.473,-8.005C-2.637,-9.041 -1.479,-9.56 0,-9.56C1.484,-9.56 2.641,-9.047 3.467,-8.022C4.293,-6.996 4.705,-5.57 4.705,-3.745C4.705,-1.755 4.297,-0.227 3.479,0.836C2.66,1.9 1.484,2.432 -0.045,2.432"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,151.191,25.0315)">
      <path
        d="M0,-12.218C-0.242,-12.309 -0.529,-12.354 -0.861,-12.354C-1.684,-12.354 -2.094,-11.86 -2.094,-10.872L-2.094,-9.016L-0.215,-9.016L-0.215,-6.607L-2.094,-6.607L-2.094,2.568L-5.035,2.568L-5.035,-6.607L-6.381,-6.607L-6.381,-9.016L-5.035,-9.016L-5.035,-10.759C-5.035,-12.018 -4.707,-13.005 -4.051,-13.717C-3.395,-14.429 -2.439,-14.786 -1.189,-14.786C-0.924,-14.786 -0.695,-14.767 -0.498,-14.729L0,-14.628L0,-12.218Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,157.605,12.8589)">
      <path
        d="M0,14.582C-0.605,14.823 -1.252,14.944 -1.945,14.944C-3.922,14.944 -4.91,13.764 -4.91,11.402L-4.91,5.565L-7.262,5.565L-7.262,3.156L-4.91,3.156L-4.91,0.565L-4.674,0.486C-2.969,-0.08 -2.066,-0.362 -1.969,-0.362L-1.969,3.156L0,3.156L0,5.565L-1.969,5.565L-1.969,11.154C-1.969,12.059 -1.611,12.512 -0.895,12.512C-0.562,12.512 -0.266,12.443 0,12.308L0,14.582Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,161.426,17.0221)">
      <path
        d="M0,-2.421L0,-1.418L0.479,-1.418C0.66,-1.418 0.803,-1.464 0.908,-1.556C1.014,-1.65 1.066,-1.773 1.066,-1.926C1.066,-2.257 0.844,-2.421 0.396,-2.421L0,-2.421ZM1.109,0.494L0.799,-0.383C0.678,-0.728 0.509,-0.9 0.296,-0.9L0,-0.9L0,0.494L-0.678,0.494L-0.678,-2.979L0.456,-2.979C0.892,-2.979 1.225,-2.893 1.452,-2.721C1.682,-2.548 1.795,-2.31 1.795,-2.005C1.795,-1.528 1.517,-1.221 0.958,-1.083L0.958,-1.067C1.184,-1.011 1.364,-0.819 1.502,-0.495L1.919,0.494L1.109,0.494ZM0.501,-3.574C-0.183,-3.574 -0.752,-3.346 -1.205,-2.889C-1.656,-2.434 -1.883,-1.872 -1.883,-1.205C-1.883,-0.526 -1.652,0.039 -1.19,0.489C-0.73,0.939 -0.165,1.164 0.501,1.164C1.159,1.164 1.722,0.936 2.185,0.481C2.646,0.026 2.877,-0.536 2.877,-1.205C2.877,-1.88 2.649,-2.443 2.192,-2.895C1.736,-3.347 1.172,-3.574 0.501,-3.574M0.493,1.547C-0.312,1.547 -0.983,1.288 -1.523,0.771C-2.063,0.255 -2.333,-0.402 -2.333,-1.198C-2.333,-1.971 -2.059,-2.626 -1.513,-3.163C-0.966,-3.699 -0.29,-3.968 0.516,-3.968C1.312,-3.968 1.98,-3.708 2.52,-3.187C3.058,-2.667 3.327,-2.011 3.327,-1.22C3.327,-0.441 3.053,0.214 2.504,0.747C1.954,1.28 1.284,1.547 0.493,1.547"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,88.0293,32.8086)">
      <path
        d="M0,12.167L0,4.014C0,3.544 0.017,3.117 0.051,2.731L0.111,1.807L0.051,1.807C-0.051,2.48 -0.172,2.992 -0.314,3.343L-3.182,12.167L-4.098,12.167L-7,3.411C-7.067,3.213 -7.183,2.661 -7.348,1.756L-7.416,1.756C-7.348,2.604 -7.314,3.394 -7.314,4.124L-7.314,12.167L-8.459,12.167L-8.459,0L-6.812,0L-3.928,8.799C-3.798,9.2 -3.688,9.655 -3.597,10.165L-3.564,10.165L-3.232,8.723L-0.416,0L1.179,0L1.179,12.167L0,12.167Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,94.5293,44.0499)">
      <path
        d="M0,-6.838C-0.641,-6.838 -1.137,-6.541 -1.49,-5.946C-1.844,-5.353 -2.02,-4.504 -2.02,-3.401C-2.02,-1.133 -1.347,0.001 0,0.001C1.307,0.001 1.959,-1.151 1.959,-3.452C1.959,-4.538 1.789,-5.374 1.449,-5.959C1.109,-6.545 0.627,-6.838 0,-6.838M-0.051,1.078C-1.092,1.078 -1.895,0.685 -2.457,-0.101C-3.02,-0.887 -3.302,-1.97 -3.302,-3.351C-3.302,-4.793 -3.008,-5.914 -2.419,-6.714C-1.83,-7.515 -1.02,-7.916 0.016,-7.916C1.033,-7.916 1.83,-7.524 2.404,-6.74C2.979,-5.956 3.266,-4.884 3.266,-3.52C3.266,-2.071 2.982,-0.943 2.412,-0.134C1.846,0.674 1.023,1.078 -0.051,1.078"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,99.1699,36.5837)">
      <path
        d="M0,8.095L0,6.865C0.639,7.294 1.27,7.51 1.891,7.51C2.916,7.51 3.428,7.057 3.428,6.152C3.428,5.864 3.328,5.601 3.131,5.363C2.932,5.126 2.557,4.848 2.002,4.532C1.158,4.062 0.617,3.632 0.377,3.242C0.137,2.852 0.016,2.424 0.016,1.96C0.016,1.253 0.268,0.675 0.768,0.226C1.268,-0.224 1.918,-0.449 2.715,-0.449C3.348,-0.449 3.908,-0.333 4.395,-0.101L4.395,1.078C3.822,0.75 3.275,0.586 2.748,0.586C2.297,0.586 1.939,0.708 1.68,0.951C1.42,1.195 1.289,1.514 1.289,1.91C1.289,2.181 1.375,2.437 1.543,2.678C1.713,2.918 2.115,3.219 2.748,3.581C3.574,4.045 4.105,4.468 4.34,4.85C4.574,5.231 4.691,5.661 4.691,6.135C4.691,6.831 4.445,7.407 3.953,7.862C3.461,8.317 2.779,8.544 1.908,8.544C1.18,8.544 0.543,8.394 0,8.095"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,108.799,33.9532)">
      <path
        d="M0,10.955C-0.346,11.101 -0.721,11.175 -1.127,11.175C-2.389,11.175 -3.02,10.429 -3.02,8.934L-3.02,3.378L-4.209,3.378L-4.209,2.334L-3.02,2.334L-3.02,0.179L-1.789,-0.22L-1.789,2.334L0,2.334L0,3.378L-1.789,3.378L-1.789,8.816C-1.789,9.671 -1.459,10.098 -0.797,10.098C-0.508,10.098 -0.242,10.035 0,9.911L0,10.955Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,117.387,32.8086)">
      <path
        d="M0,12.167L-1.291,12.167L-4.66,0L-3.268,0L-0.85,9.181C-0.748,9.56 -0.674,9.98 -0.629,10.444L-0.596,10.444C-0.584,10.309 -0.496,9.876 -0.332,9.146L2.188,0L3.529,0L0,12.167Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,125.803,40.8594)">
      <path
        d="M0,-0.457L-1.705,-0.075C-2.668,0.14 -3.148,0.714 -3.148,1.647C-3.148,2.128 -3.023,2.51 -2.775,2.792C-2.525,3.075 -2.203,3.217 -1.809,3.217C-1.254,3.217 -0.814,2.993 -0.488,2.547C-0.164,2.101 0,1.517 0,0.8L0,-0.457ZM0,4.116L0,2.81L-0.035,2.81C-0.477,3.783 -1.211,4.268 -2.24,4.268C-2.879,4.268 -3.396,4.041 -3.789,3.586C-4.182,3.131 -4.379,2.549 -4.379,1.843C-4.379,0.344 -3.604,-0.584 -2.053,-0.94L0,-1.407L0,-1.984C0,-3.109 -0.498,-3.673 -1.494,-3.673C-2.201,-3.673 -2.936,-3.37 -3.699,-2.765L-3.699,-4.012C-2.896,-4.487 -2.104,-4.725 -1.324,-4.725C0.379,-4.725 1.23,-3.783 1.23,-1.899L1.23,4.116L0,4.116Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,0,4.339)">
      <rect
        x="129.154"
        y="27.774"
        width="1.23"
        height="12.863"
        style="fill:currentColor;"></rect>
    </g>
    <g transform="matrix(1,0,0,1,137.139,36.4386)">
      <path
        d="M0,8.537L0,7.23L-0.035,7.23C-0.504,8.204 -1.242,8.689 -2.25,8.689C-3.834,8.689 -4.625,7.764 -4.625,5.915L-4.625,-0.152L-3.395,-0.152L-3.395,5.618C-3.395,6.947 -2.871,7.612 -1.826,7.612C-1.287,7.612 -0.85,7.416 -0.51,7.022C-0.172,6.629 0,6.102 0,5.439L0,-0.152L1.229,-0.152L1.229,8.537L0,8.537Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,144.435,40.8594)">
      <path
        d="M0,-0.457L-1.707,-0.075C-2.668,0.14 -3.148,0.714 -3.148,1.647C-3.148,2.128 -3.023,2.51 -2.775,2.792C-2.527,3.075 -2.205,3.217 -1.808,3.217C-1.254,3.217 -0.814,2.993 -0.488,2.547C-0.164,2.101 0,1.517 0,0.8L0,-0.457ZM0,4.116L0,2.81L-0.035,2.81C-0.476,3.783 -1.213,4.268 -2.242,4.268C-2.881,4.268 -3.396,4.041 -3.789,3.586C-4.183,3.131 -4.379,2.549 -4.379,1.843C-4.379,0.344 -3.605,-0.584 -2.055,-0.94L0,-1.407L0,-1.984C0,-3.109 -0.498,-3.673 -1.494,-3.673C-2.201,-3.673 -2.937,-3.37 -3.701,-2.765L-3.701,-4.012C-2.896,-4.487 -2.105,-4.725 -1.324,-4.725C0.377,-4.725 1.229,-3.783 1.229,-1.899L1.229,4.116L0,4.116Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,149,37.1099)">
      <path
        d="M0,3.021L0,4.234C0,5.026 0.156,5.675 0.475,6.181C0.791,6.688 1.228,6.941 1.789,6.941C3.113,6.941 3.773,5.702 3.773,3.225C3.773,2.212 3.615,1.439 3.299,0.905C2.982,0.37 2.539,0.102 1.967,0.102C1.352,0.102 0.869,0.375 0.521,0.921C0.172,1.467 0,2.167 0,3.021M0.059,6.754L0.016,6.754L0.016,7.866L-1.215,7.866L-1.215,-4.997L0.016,-4.997L0.016,0.603L0.059,0.603C0.516,-0.45 1.279,-0.976 2.35,-0.976C3.215,-0.976 3.881,-0.611 4.352,0.12C4.82,0.849 5.055,1.844 5.055,3.106C5.055,4.656 4.793,5.863 4.266,6.725C3.74,7.586 2.986,8.018 2.002,8.018C1.113,8.018 0.465,7.597 0.059,6.754"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,0,4.339)">
      <rect
        x="155.812"
        y="27.774"
        width="1.231"
        height="12.863"
        style="fill:currentColor;"></rect>
    </g>
    <g transform="matrix(1,0,0,1,163.635,41.3266)">
      <path
        d="M0,-1.391C0,-3.245 -0.549,-4.173 -1.646,-4.173C-2.195,-4.173 -2.641,-3.939 -2.982,-3.469C-3.324,-2.999 -3.518,-2.307 -3.564,-1.391L0,-1.391ZM-3.58,-0.398C-3.58,1.7 -2.82,2.75 -1.299,2.75C-0.643,2.75 0.029,2.517 0.713,2.053L0.713,3.216C0.033,3.607 -0.689,3.801 -1.459,3.801C-2.563,3.801 -3.402,3.418 -3.979,2.648C-4.557,1.879 -4.844,0.748 -4.844,-0.745C-4.844,-2.058 -4.553,-3.127 -3.971,-3.953C-3.389,-4.779 -2.596,-5.192 -1.596,-5.192C0.283,-5.192 1.221,-3.871 1.221,-1.23L1.221,-0.398L-3.58,-0.398Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,80.8687,61.1999)">
      <path
        d="M0,-9.861L0,-4.6L1.154,-4.6C1.895,-4.6 2.462,-4.845 2.855,-5.335C3.248,-5.824 3.445,-6.481 3.445,-7.307C3.445,-9.009 2.721,-9.861 1.273,-9.861L0,-9.861ZM0,-3.438L0,1.153L-1.298,1.153L-1.298,-11.014L1.485,-11.014C2.542,-11.014 3.36,-10.706 3.937,-10.09C4.514,-9.473 4.802,-8.583 4.802,-7.417C4.802,-6.275 4.485,-5.326 3.851,-4.57C3.218,-3.815 2.347,-3.438 1.239,-3.438L0,-3.438Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,91.2969,61.004)">
      <path
        d="M0,-6.127C-0.289,-6.24 -0.555,-6.297 -0.798,-6.297C-2.054,-6.297 -2.682,-5.226 -2.682,-3.081L-2.682,1.349L-3.912,1.349L-3.912,-7.341L-2.682,-7.341L-2.682,-5.813L-2.64,-5.813C-2.345,-6.922 -1.698,-7.476 -0.697,-7.476C-0.414,-7.476 -0.182,-7.443 0,-7.374L0,-6.127Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,94.8945,61.4269)">
      <path
        d="M0,-6.838C-0.641,-6.838 -1.137,-6.542 -1.49,-5.947C-1.844,-5.354 -2.02,-4.505 -2.02,-3.402C-2.02,-1.135 -1.348,-0 0,-0C1.305,-0 1.959,-1.151 1.959,-3.453C1.959,-4.539 1.789,-5.374 1.449,-5.96C1.109,-6.545 0.627,-6.838 0,-6.838M-0.051,1.078C-1.092,1.078 -1.894,0.685 -2.457,-0.103C-3.019,-0.888 -3.302,-1.971 -3.302,-3.352C-3.302,-4.794 -3.008,-5.915 -2.419,-6.715C-1.832,-7.516 -1.019,-7.916 0.016,-7.916C1.033,-7.916 1.83,-7.524 2.404,-6.74C2.979,-5.957 3.266,-4.885 3.266,-3.521C3.266,-2.072 2.981,-0.944 2.412,-0.136C1.844,0.673 1.024,1.078 -0.051,1.078"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,103.166,61.1722)">
      <path
        d="M0,-10.639C-0.199,-10.707 -0.43,-10.741 -0.695,-10.741C-1.5,-10.741 -1.9,-10.249 -1.9,-9.265L-1.9,-7.509L-0.16,-7.509L-0.16,-6.465L-1.9,-6.465L-1.9,1.18L-3.131,1.18L-3.131,-6.465L-4.379,-6.465L-4.379,-7.509L-3.131,-7.509L-3.131,-9.248C-3.131,-10.045 -2.926,-10.674 -2.516,-11.132C-2.106,-11.59 -1.522,-11.819 -0.764,-11.819C-0.555,-11.819 -0.301,-11.79 0,-11.734L0,-10.639Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,108.393,58.7035)">
      <path
        d="M0,-1.392C0,-3.246 -0.549,-4.175 -1.646,-4.175C-2.195,-4.175 -2.641,-3.94 -2.982,-3.47C-3.324,-3.001 -3.52,-2.308 -3.563,-1.392L0,-1.392ZM-3.58,-0.399C-3.58,1.7 -2.82,2.749 -1.299,2.749C-0.643,2.749 0.027,2.517 0.711,2.053L0.711,3.216C0.033,3.606 -0.691,3.801 -1.459,3.801C-2.563,3.801 -3.402,3.417 -3.98,2.647C-4.557,1.879 -4.846,0.746 -4.846,-0.746C-4.846,-2.059 -4.555,-3.128 -3.971,-3.953C-3.389,-4.78 -2.596,-5.193 -1.596,-5.193C0.283,-5.193 1.221,-3.871 1.221,-1.23L1.221,-0.399L-3.58,-0.399Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,110.861,53.9607)">
      <path
        d="M0,8.094L0,6.864C0.639,7.294 1.27,7.509 1.891,7.509C2.916,7.509 3.428,7.056 3.428,6.152C3.428,5.863 3.328,5.6 3.131,5.362C2.932,5.124 2.557,4.848 2.002,4.531C1.158,4.061 0.617,3.631 0.377,3.242C0.137,2.85 0.016,2.424 0.016,1.959C0.016,1.253 0.268,0.674 0.768,0.225C1.268,-0.225 1.918,-0.45 2.715,-0.45C3.348,-0.45 3.908,-0.334 4.395,-0.101L4.395,1.077C3.824,0.749 3.275,0.585 2.748,0.585C2.297,0.585 1.939,0.707 1.68,0.95C1.42,1.193 1.289,1.513 1.289,1.909C1.289,2.181 1.375,2.437 1.545,2.677C1.713,2.917 2.115,3.218 2.748,3.58C3.574,4.045 4.105,4.467 4.34,4.85C4.574,5.231 4.691,5.659 4.691,6.135C4.691,6.829 4.445,7.406 3.953,7.861C3.461,8.317 2.779,8.544 1.908,8.544C1.18,8.544 0.543,8.394 0,8.094"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,116.877,53.9607)">
      <path
        d="M0,8.094L0,6.864C0.639,7.294 1.269,7.509 1.892,7.509C2.916,7.509 3.428,7.056 3.428,6.152C3.428,5.863 3.328,5.6 3.131,5.362C2.933,5.124 2.557,4.848 2.002,4.531C1.16,4.061 0.617,3.631 0.377,3.242C0.137,2.85 0.017,2.424 0.017,1.959C0.017,1.253 0.267,0.674 0.767,0.225C1.267,-0.225 1.918,-0.45 2.715,-0.45C3.348,-0.45 3.908,-0.334 4.394,-0.101L4.394,1.077C3.824,0.749 3.275,0.585 2.748,0.585C2.297,0.585 1.939,0.707 1.68,0.95C1.42,1.193 1.289,1.513 1.289,1.909C1.289,2.181 1.375,2.437 1.545,2.677C1.713,2.917 2.115,3.218 2.748,3.58C3.574,4.045 4.105,4.467 4.34,4.85C4.574,5.231 4.691,5.659 4.691,6.135C4.691,6.829 4.445,7.406 3.953,7.861C3.461,8.317 2.779,8.544 1.908,8.544C1.178,8.544 0.543,8.394 0,8.094"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,0,39.667)">
      <path
        d="M123.258,13.996L124.487,13.996L124.487,22.685L123.258,22.685L123.258,13.996ZM123.885,12.121C123.641,12.121 123.435,12.039 123.266,11.872C123.096,11.705 123.012,11.496 123.012,11.248C123.012,10.994 123.098,10.788 123.269,10.633C123.441,10.477 123.648,10.398 123.885,10.398C124.127,10.398 124.332,10.477 124.5,10.633C124.666,10.788 124.75,10.994 124.75,11.248C124.75,11.496 124.67,11.705 124.508,11.872C124.348,12.039 124.139,12.121 123.885,12.121"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,129.535,61.4269)">
      <path
        d="M0,-6.838C-0.639,-6.838 -1.135,-6.542 -1.488,-5.947C-1.842,-5.354 -2.02,-4.505 -2.02,-3.402C-2.02,-1.135 -1.346,-0 0,-0C1.307,-0 1.961,-1.151 1.961,-3.453C1.961,-4.539 1.791,-5.374 1.451,-5.96C1.111,-6.545 0.629,-6.838 0,-6.838M-0.051,1.078C-1.092,1.078 -1.893,0.685 -2.455,-0.103C-3.018,-0.888 -3.301,-1.971 -3.301,-3.352C-3.301,-4.794 -3.006,-5.915 -2.418,-6.715C-1.83,-7.516 -1.018,-7.916 0.018,-7.916C1.035,-7.916 1.832,-7.524 2.406,-6.74C2.98,-5.957 3.268,-4.885 3.268,-3.521C3.268,-2.072 2.982,-0.944 2.414,-0.136C1.846,0.673 1.025,1.078 -0.051,1.078"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,139.148,53.5106)">
      <path
        d="M0,8.842L0,3.071C0,1.742 -0.523,1.078 -1.57,1.078C-2.107,1.078 -2.543,1.272 -2.875,1.659C-3.209,2.047 -3.377,2.576 -3.377,3.249L-3.377,8.842L-4.607,8.842L-4.607,0.153L-3.377,0.153L-3.377,1.46L-3.334,1.46C-2.898,0.487 -2.164,0 -1.129,0C0.443,0 1.23,0.926 1.23,2.775L1.23,8.842L0,8.842Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,146.377,58.2373)">
      <path
        d="M0,-0.459L-1.705,-0.077C-2.666,0.139 -3.149,0.713 -3.149,1.645C-3.149,2.127 -3.024,2.509 -2.774,2.792C-2.525,3.074 -2.203,3.215 -1.807,3.215C-1.252,3.215 -0.813,2.992 -0.488,2.545C-0.162,2.098 0,1.516 0,0.797L0,-0.459ZM0,4.115L0,2.808L-0.033,2.808C-0.475,3.781 -1.211,4.268 -2.24,4.268C-2.879,4.268 -3.395,4.04 -3.787,3.584C-4.182,3.129 -4.377,2.548 -4.377,1.841C-4.377,0.342 -3.604,-0.586 -2.053,-0.942L0,-1.409L0,-1.986C0,-3.111 -0.498,-3.674 -1.492,-3.674C-2.199,-3.674 -2.936,-3.371 -3.699,-2.767L-3.699,-4.014C-2.897,-4.488 -2.104,-4.727 -1.324,-4.727C0.379,-4.727 1.23,-3.785 1.23,-1.901L1.23,4.115L0,4.115Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
    </g>
    <g transform="matrix(1,0,0,1,0,39.091)">
      <rect
        x="149.728"
        y="10.398"
        width="1.231"
        height="12.863"
        style="fill:currentColor;"></rect>
    </g>
  </g>
</svg>
