---
/// <reference path="../../.astro/types.d.ts" />

import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import CommonLayout from '../layouts/CommonLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

type Props = CollectionEntry<'speaking'>

const speaking = (await getCollection('speaking')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)
---

<CommonLayout section="speaking">
  <section>
    <h1>Speaking - TODO</h1>
    <ul>
      {speaking.map((s) => <li>{s.data.title}</li>)}
    </ul>
  </section>
</CommonLayout>
