---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="p-8">
      <select id="theme-select">
        <option value="">Default</option>
        {['light'].map((name) => <option value={name}>{name}</option>)}
      </select>
    </div>
    <h2 class="p-8">Swatches</h2>
    <div class="flex p-8">
      <div class="">
        <h3 class="text-sm text-center px-4">bg</h3>
        <ul class="text-sm text-center w-[200px]">
          <li class="p-4 bg-bg-100">100</li>
          <li class="p-4 bg-bg-200">200</li>
          <li class="p-4 bg-bg-300">300</li>
          <li class="p-4 bg-bg-400">400</li>
          <li class="p-4 bg-bg-500">500</li>
          <li class="p-4 bg-bg-600">600</li>
          <li class="p-4 bg-bg-700">700</li>
          <li class="p-4 bg-bg-800">800</li>
          <li class="p-4 bg-bg-900">900</li>
        </ul>
      </div>
      <div class="">
        <h3 class="text-sm text-center px-4">text</h3>
        <ul class="text-sm text-center w-[200px]">
          <li class="p-4 bg-text-100">100</li>
          <li class="p-4 bg-text-200">200</li>
          <li class="p-4 bg-text-300">300</li>
          <li class="p-4 bg-text-400">400</li>
          <li class="p-4 bg-text-500">500</li>
          <li class="p-4 bg-text-600">600</li>
          <li class="p-4 bg-text-700">700</li>
          <li class="p-4 bg-text-800">800</li>
          <li class="p-4 bg-text-900">900</li>
        </ul>
      </div>
      <div class="">
        <h3 class="text-sm text-center px-4">primary</h3>
        <ul class="text-sm text-center w-[200px]">
          <li class="p-4 bg-primary-100">100</li>
          <li class="p-4 bg-primary-200">200</li>
          <li class="p-4 bg-primary-300">300</li>
          <li class="p-4 bg-primary-400">400</li>
          <li class="p-4 bg-primary-500">500</li>
          <li class="p-4 bg-primary-600">600</li>
          <li class="p-4 bg-primary-700">700</li>
          <li class="p-4 bg-primary-800">800</li>
          <li class="p-4 bg-primary-900">900</li>
        </ul>
      </div>
      <div class="">
        <h3 class="text-sm text-center px-4">secondary</h3>
        <ul class="text-sm text-center w-[200px]">
          <li class="p-4 bg-secondary-100">100</li>
          <li class="p-4 bg-secondary-200">200</li>
          <li class="p-4 bg-secondary-300">300</li>
          <li class="p-4 bg-secondary-400">400</li>
          <li class="p-4 bg-secondary-500">500</li>
          <li class="p-4 bg-secondary-600">600</li>
          <li class="p-4 bg-secondary-700">700</li>
          <li class="p-4 bg-secondary-800">800</li>
          <li class="p-4 bg-secondary-900">900</li>
        </ul>
      </div>
      <div class="">
        <h3 class="text-sm text-center px-4">accent</h3>
        <ul class="text-sm text-center w-[200px]">
          <li class="p-4 bg-accent-100">100</li>
          <li class="p-4 bg-accent-200">200</li>
          <li class="p-4 bg-accent-300">300</li>
          <li class="p-4 bg-accent-400">400</li>
          <li class="p-4 bg-accent-500">500</li>
          <li class="p-4 bg-accent-600">600</li>
          <li class="p-4 bg-accent-700">700</li>
          <li class="p-4 bg-accent-800">800</li>
          <li class="p-4 bg-accent-900">900</li>
        </ul>
      </div>
    </div>
    <script>
      const html = document.querySelector('html')
      const themeSelect = document.getElementById('theme-select')
      themeSelect?.addEventListener('change', (e) => {
        const target = e.target as HTMLSelectElement
        if (target.value) {
          html?.setAttribute('data-theme', target.value)
        } else {
          html?.removeAttribute('data-theme')
        }
      })
    </script>
  </body>
</html>
