{%- from 'components/images/luciano8bit.njk' import luciano8bit -%}

{%- macro logo() -%}
  <a class="logo" href="/">
    {{- luciano8bit('logo__img', 'Loige') -}}
    <span class="logo__text">Loige</span>
  </a>
{%- endmacro -%}