.tagsList {
  vertical-align: middle;
  margin: 0 0.5em 0 1em;
  display: inline-block;

  .svg-inline {
    margin: 0 0.25em 0 0;
  }

  .tag-separator {
    vertical-align: text-bottom;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    vertical-align: text-bottom;
  }
}