---
pagination:
  data: collections.posts
  size: 10
permalink: '{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}/{%else%}/{% endif %}'
---
{%- extends 'html.njk' -%}
{%- from 'components/hero.njk' import hero -%}
{%- from 'components/postPreview.njk' import postPreview -%}
{%- from 'components/pagination.njk' import pagination as paginationComponent -%}

{% set section = "blog" %}
{% set body_class = "home" %}

{# TODO: address title below #}
{% block head_title %}A new website{% endblock head_title %}

{% set hero_content %}
<h1>Luciano Mammino</h1>
<h2>Cloud developer, entrepreneur, fighter, butterfly maker!</h2>
{% endset %}

{%block body_content %}
  {%- include 'partials/header.njk' -%}
  {{ hero(hero_content, "bottomRightBg") }}
  <div class="content__container">
    <section class="content__inner">
      <div class="content__columns">
        <main class="content__columns_main-column">
          <article class="content__article">
            {% for post in pagination.items %}
              {{ postPreview(post.data.title, '/' + post.data.permalink, (post.templateContent | excerpt), post.data.date, (post.templateContent | readingTime),  post.data.tags) }}
            {% endfor %}
            {{ paginationComponent(pagination.pageNumber + 1, pagination.pages.length, pagination.href.previous, pagination.href.next) }}
          </article>
        </main>
        <aside class="content__sidebar">
          <div>
            {%- include 'partials/hello.njk' -%}
            {%- include 'partials/sidebarAd.njk' -%}
          </div>
        </aside>
      </div>
    </section>
  </div>
  {%- include 'partials/footer.njk' -%}
{% endblock body_content %}