---
type Props = {
  class?: string
}
---

<svg
  role="img"
  viewBox="0 0 289 332"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
  class={Astro.props.class || ''}
>
  >
  <title>AWS Certified Solution Architect Professional Badge</title>
  <g transform="matrix(0.939169,0,0,0.995376,-20.342,-6.60645)">
    <rect
      x="21.66"
      y="6.637"
      width="306.755"
      height="333.363"
      style="fill:none;"
      fill="currentColor"></rect>
    <g transform="matrix(1,0,0,1,0.16888,0.426359)">
      <g transform="matrix(1.11473,0,0,1.05178,-25.6595,-13.3276)">
        <path
          fill="currentColor"
          d="M179.889,24.34L312.141,100.696L312.141,253.407L179.889,329.763L47.637,253.407L47.637,100.696L179.889,24.34Z"
          style="fill:none;stroke:currentColor;stroke-width:10.19px;"></path>
      </g>
      <g transform="matrix(1,0,0,1,-8.15911,7.41435)">
        <g transform="matrix(1.15118,0,0,1.13303,-12.6738,-4.83047)">
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M109.467,76.803L109.467,65.125C109.467,60.381 106.037,58.738 102.132,58.738C99.322,58.738 96.768,59.651 94.724,61.585L96.293,64.249C97.826,62.753 99.541,62.023 101.512,62.023C103.957,62.023 105.636,63.264 105.636,65.307L105.636,67.935C104.358,66.438 102.315,65.672 99.943,65.672C97.06,65.672 93.812,67.351 93.812,71.402C93.812,75.306 97.06,77.241 99.943,77.241C102.278,77.241 104.322,76.401 105.636,74.905L105.636,76.803L109.467,76.803ZM105.636,72.788C104.76,73.993 103.118,74.613 101.439,74.613C99.286,74.613 97.68,73.372 97.68,71.475C97.68,69.54 99.286,68.3 101.439,68.3C103.118,68.3 104.76,68.92 105.636,70.124L105.636,72.788Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M133.813,76.803L139.288,59.176L135.31,59.176L131.587,71.985L127.391,59.176L124.033,59.176L119.836,71.985L116.114,59.176L112.136,59.176L117.61,76.803L121.625,76.803L125.712,63.884L129.799,76.803L133.813,76.803Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M140.415,74.504C142.24,76.292 144.977,77.241 147.97,77.241C152.714,77.241 155.305,74.868 155.305,71.766C155.305,67.606 151.546,66.73 148.48,66.074C146.4,65.599 144.649,65.125 144.649,63.774C144.649,62.534 145.926,61.804 147.933,61.804C150.123,61.804 152.093,62.716 153.152,63.92L154.757,61.22C153.152,59.797 150.889,58.738 147.897,58.738C143.444,58.738 140.963,61.22 140.963,64.103C140.963,68.044 144.576,68.847 147.605,69.504C149.758,69.978 151.619,70.526 151.619,72.058C151.619,73.372 150.451,74.212 148.152,74.212C145.853,74.212 143.408,73.007 142.167,71.73L140.415,74.504Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M97.349,100.729C97.349,104.331 99.725,107.218 103.352,107.218C105.498,107.218 106.724,106.375 107.72,105.098L106.801,104.28C105.907,105.506 104.783,106.017 103.429,106.017C100.542,106.017 98.78,103.693 98.78,100.729C98.78,97.766 100.542,95.467 103.429,95.467C104.783,95.467 105.907,95.953 106.801,97.179L107.72,96.361C106.724,95.11 105.498,94.266 103.352,94.266C99.725,94.266 97.349,97.128 97.349,100.729Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M109.972,100.729C109.972,104.536 112.552,107.218 116.154,107.218C118.198,107.218 119.756,106.503 120.982,105.225L120.292,104.357C119.245,105.481 117.815,106.068 116.256,106.068C113.344,106.068 111.556,103.846 111.428,101.164L121.749,101.164L121.749,100.806C121.749,97.255 119.679,94.266 115.924,94.266C112.501,94.266 109.972,97.153 109.972,100.729ZM115.899,95.416C118.99,95.416 120.369,98.022 120.395,100.116L111.428,100.116C111.53,97.971 112.986,95.416 115.899,95.416Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M126.51,106.911L126.51,97.92C127.072,96.847 128.758,95.723 130.009,95.723C130.265,95.723 130.444,95.723 130.674,95.774L130.674,94.318C128.962,94.318 127.557,95.314 126.51,96.693L126.51,94.573L125.181,94.573L125.181,106.911L126.51,106.911Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M135.971,107.218C136.993,107.218 137.581,106.911 138.066,106.452L137.555,105.43C137.274,105.736 136.763,106.017 136.176,106.017C135.307,106.017 134.898,105.328 134.898,104.331L134.898,95.748L137.402,95.748L137.402,94.573L134.898,94.573L134.898,91.201L133.545,91.201L133.545,94.573L131.501,94.573L131.501,95.748L133.545,95.748L133.545,104.536C133.545,106.222 134.336,107.218 135.971,107.218Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M140.988,92.478C141.55,92.478 142.01,92.019 142.01,91.457C142.01,90.894 141.55,90.435 140.988,90.435C140.452,90.435 139.966,90.894 139.966,91.457C139.966,92.019 140.452,92.478 140.988,92.478ZM141.652,106.911L141.652,94.573L140.324,94.573L140.324,106.911L141.652,106.911Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M147.55,95.748L150.053,95.748L150.053,94.573L147.55,94.573L147.55,93.449C147.55,91.738 148.291,90.767 149.696,90.767C150.181,90.767 150.513,90.869 150.82,91.048L151.229,90C150.743,89.719 150.181,89.617 149.568,89.617C147.524,89.617 146.222,91.022 146.222,93.449L146.222,94.573L144.178,94.573L144.178,95.748L146.222,95.748L146.222,106.911L147.55,106.911L147.55,95.748ZM153.221,92.478C153.783,92.478 154.243,92.019 154.243,91.457C154.243,90.894 153.783,90.435 153.221,90.435C152.685,90.435 152.199,90.894 152.199,91.457C152.199,92.019 152.685,92.478 153.221,92.478ZM153.885,106.911L153.885,94.573L152.557,94.573L152.557,106.911L153.885,106.911Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M157.271,100.729C157.271,104.536 159.851,107.218 163.453,107.218C165.497,107.218 167.055,106.503 168.281,105.225L167.591,104.357C166.544,105.481 165.114,106.068 163.555,106.068C160.643,106.068 158.855,103.846 158.727,101.164L169.048,101.164L169.048,100.806C169.048,97.255 166.978,94.266 163.223,94.266C159.8,94.266 157.271,97.153 157.271,100.729ZM163.198,95.416C166.289,95.416 167.668,98.022 167.694,100.116L158.727,100.116C158.829,97.971 160.285,95.416 163.198,95.416Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M182.928,106.911L182.928,89.873L181.575,89.873L181.575,96.566C180.578,95.161 179.046,94.266 177.283,94.266C174.013,94.266 171.765,96.847 171.765,100.755C171.765,104.715 174.013,107.218 177.283,107.218C179.122,107.218 180.706,106.222 181.575,104.944L181.575,106.911L182.928,106.911ZM181.575,103.82C180.859,104.996 179.25,106.017 177.513,106.017C174.779,106.017 173.196,103.744 173.196,100.755C173.196,97.766 174.779,95.467 177.513,95.467C179.25,95.467 180.859,96.515 181.575,97.715L181.575,103.82Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M173.344,54L184.405,60.386L184.405,73.159L173.344,79.546L162.282,73.159L162.282,60.386L173.344,54Z"
              style="fill:rgb(251,153,2);fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(1,0,0,1,30.8916,0)">
            <path
              fill="currentColor"
              d="M180.781,62.17L172.798,71.75L170.868,71.923L166.078,67.908L167.836,65.811L171.574,68.943L178.679,60.418L180.781,62.17Z"
              style="fill:white;"></path>
          </g>
        </g>
        <g transform="matrix(1.23421,0,0,1.03316,-26.3119,4.41372)">
          <path
            fill="currentColor"
            d="M99.39,162.021C97.864,162.021 96.446,161.902 95.134,161.663C93.822,161.425 92.606,161.112 91.486,160.723L91.486,154.552C92.232,154.853 93.078,155.11 94.022,155.324C94.966,155.537 95.912,155.697 96.862,155.803C97.811,155.91 98.675,155.963 99.454,155.963C101.075,155.963 102.174,155.741 102.75,155.295C103.326,154.85 103.614,154.245 103.614,153.48C103.614,152.828 103.406,152.323 102.99,151.966C102.574,151.608 101.736,151.291 100.478,151.016L98.334,150.526C95.656,149.912 93.742,148.927 92.59,147.573C91.438,146.218 90.862,144.444 90.862,142.249C90.862,139.44 91.811,137.267 93.71,135.731C95.608,134.194 98.478,133.426 102.318,133.426C103.608,133.426 104.814,133.508 105.934,133.671C107.054,133.834 108.04,134.047 108.894,134.31L108.894,140.462C108.062,140.173 107.075,139.938 105.934,139.756C104.792,139.575 103.646,139.484 102.494,139.484C101.192,139.484 100.176,139.587 99.446,139.794C98.715,140.001 98.2,140.293 97.902,140.669C97.603,141.045 97.454,141.478 97.454,141.967C97.454,142.569 97.632,143.039 97.99,143.378C98.347,143.716 99.048,144.011 100.094,144.262L102.238,144.751C104.2,145.19 105.763,145.789 106.926,146.548C108.088,147.306 108.926,148.231 109.438,149.322C109.95,150.414 110.206,151.668 110.206,153.085C110.206,154.929 109.771,156.518 108.902,157.854C108.032,159.19 106.79,160.218 105.174,160.939C103.558,161.66 101.63,162.021 99.39,162.021Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M121.918,162.04C119.859,162.04 118.064,161.619 116.534,160.779C115.003,159.939 113.811,158.719 112.958,157.12C112.104,155.521 111.678,153.587 111.678,151.317C111.678,149.059 112.083,147.137 112.894,145.551C113.704,143.964 114.872,142.754 116.398,141.92C117.923,141.086 119.763,140.669 121.918,140.669C124.083,140.669 125.928,141.086 127.454,141.92C128.979,142.754 130.144,143.964 130.95,145.551C131.755,147.137 132.158,149.059 132.158,151.317C132.158,153.574 131.734,155.502 130.886,157.101C130.038,158.7 128.846,159.923 127.31,160.77C125.774,161.616 123.976,162.04 121.918,162.04ZM121.918,156.227C122.728,156.227 123.414,156.054 123.974,155.709C124.534,155.364 124.958,154.831 125.246,154.11C125.534,153.389 125.678,152.464 125.678,151.335C125.678,150.194 125.534,149.269 125.246,148.561C124.958,147.852 124.534,147.332 123.974,146.999C123.414,146.667 122.728,146.501 121.918,146.501C121.118,146.501 120.438,146.664 119.878,146.99C119.318,147.316 118.894,147.833 118.606,148.542C118.318,149.25 118.174,150.175 118.174,151.317C118.174,152.458 118.318,153.389 118.606,154.11C118.894,154.831 119.318,155.364 119.878,155.709C120.438,156.054 121.118,156.227 121.918,156.227Z"
            style="fill-rule:nonzero;"></path>
          <rect
            x="133.918"
            y="131.244"
            width="6.56"
            height="30.401"
            style="fill-rule:nonzero;"
            fill="currentColor"></rect>
          <path
            fill="currentColor"
            d="M150.542,161.983C149.08,161.983 147.79,161.666 146.67,161.033C145.55,160.4 144.678,159.4 144.054,158.033C143.43,156.666 143.118,154.891 143.118,152.709L143.118,141.007L149.678,141.007L149.678,152.276C149.678,153.53 149.894,154.392 150.326,154.863C150.758,155.333 151.358,155.568 152.126,155.568C152.531,155.568 152.934,155.509 153.334,155.389C153.734,155.27 154.11,155.101 154.462,154.882C154.814,154.662 155.123,154.396 155.39,154.082L155.39,141.007L161.95,141.007L161.95,161.645L156.606,161.645L156.206,159.763L155.966,159.763C155.23,160.466 154.395,161.011 153.462,161.4C152.528,161.789 151.555,161.983 150.542,161.983Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M174.254,162.04C171.8,162.04 169.931,161.362 168.646,160.008C167.36,158.653 166.718,156.609 166.718,153.875L166.718,141.007L167.934,133.802L173.278,133.802L173.278,152.427C173.278,153.781 173.507,154.709 173.966,155.211C174.424,155.712 175.16,155.963 176.174,155.963C176.472,155.963 176.774,155.944 177.078,155.907C177.382,155.869 177.726,155.806 178.11,155.719L178.11,161.55C177.587,161.676 176.976,161.789 176.278,161.889C175.579,161.989 174.904,162.04 174.254,162.04ZM163.71,147.009L163.71,141.007L178.062,141.007L178.062,147.009L163.71,147.009Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M179.95,161.645L179.95,141.007L186.51,141.007L186.51,161.645L179.95,161.645ZM183.23,138.562C181.886,138.562 180.896,138.251 180.262,137.631C179.627,137.01 179.31,136.123 179.31,134.969C179.31,133.79 179.627,132.893 180.262,132.279C180.896,131.664 181.886,131.357 183.23,131.357C184.584,131.357 185.576,131.664 186.206,132.279C186.835,132.893 187.15,133.79 187.15,134.969C187.15,136.123 186.835,137.01 186.206,137.631C185.576,138.251 184.584,138.562 183.23,138.562Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M198.686,162.04C196.627,162.04 194.832,161.619 193.302,160.779C191.771,159.939 190.579,158.719 189.726,157.12C188.872,155.521 188.446,153.587 188.446,151.317C188.446,149.059 188.851,147.137 189.662,145.551C190.472,143.964 191.64,142.754 193.166,141.92C194.691,141.086 196.531,140.669 198.686,140.669C200.851,140.669 202.696,141.086 204.222,141.92C205.747,142.754 206.912,143.964 207.718,145.551C208.523,147.137 208.926,149.059 208.926,151.317C208.926,153.574 208.502,155.502 207.654,157.101C206.806,158.7 205.614,159.923 204.078,160.77C202.542,161.616 200.744,162.04 198.686,162.04ZM198.686,156.227C199.496,156.227 200.182,156.054 200.742,155.709C201.302,155.364 201.726,154.831 202.014,154.11C202.302,153.389 202.446,152.464 202.446,151.335C202.446,150.194 202.302,149.269 202.014,148.561C201.726,147.852 201.302,147.332 200.742,146.999C200.182,146.667 199.496,146.501 198.686,146.501C197.886,146.501 197.206,146.664 196.646,146.99C196.086,147.316 195.662,147.833 195.374,148.542C195.086,149.25 194.942,150.175 194.942,151.317C194.942,152.458 195.086,153.389 195.374,154.11C195.662,154.831 196.086,155.364 196.646,155.709C197.206,156.054 197.886,156.227 198.686,156.227Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M210.878,161.645L210.878,141.007L216.238,141.007L216.638,142.907L216.926,142.907C217.651,142.193 218.51,141.641 219.502,141.252C220.494,140.863 221.555,140.669 222.686,140.669C224.083,140.669 225.326,140.985 226.414,141.619C227.502,142.252 228.352,143.256 228.966,144.629C229.579,146.002 229.886,147.78 229.886,149.962L229.886,161.645L223.326,161.645L223.326,150.395C223.326,149.141 223.107,148.275 222.67,147.799C222.232,147.322 221.598,147.084 220.766,147.084C220.35,147.084 219.939,147.14 219.534,147.253C219.128,147.366 218.744,147.535 218.382,147.761C218.019,147.987 217.704,148.256 217.438,148.57L217.438,161.645L210.878,161.645Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M239.086,162.04C237.827,162.04 236.59,161.955 235.374,161.786C234.158,161.616 233.054,161.375 232.062,161.061L232.062,155.907C233.075,156.233 234.184,156.487 235.39,156.669C236.595,156.851 237.795,156.941 238.99,156.941C240.206,156.941 241.043,156.81 241.502,156.546C241.96,156.283 242.19,155.926 242.19,155.474C242.19,155.148 242.104,154.894 241.934,154.712C241.763,154.53 241.4,154.402 240.846,154.327L237.23,153.762C235.171,153.424 233.723,152.74 232.886,151.712C232.048,150.683 231.63,149.322 231.63,147.629C231.63,145.51 232.427,143.82 234.022,142.559C235.616,141.299 238.147,140.669 241.614,140.669C242.627,140.669 243.656,140.741 244.702,140.885C245.747,141.029 246.638,141.227 247.374,141.478L247.374,146.632C246.627,146.369 245.736,146.162 244.702,146.012C243.667,145.861 242.654,145.786 241.662,145.786C240.574,145.786 239.752,145.855 239.198,145.993C238.643,146.131 238.272,146.319 238.086,146.557C237.899,146.795 237.806,147.046 237.806,147.31C237.806,147.573 237.896,147.799 238.078,147.987C238.259,148.175 238.616,148.313 239.15,148.401L242.766,148.965C244.547,149.241 245.926,149.827 246.902,150.724C247.878,151.621 248.366,153.091 248.366,155.135C248.366,157.28 247.571,158.967 245.982,160.196C244.392,161.425 242.094,162.04 239.086,162.04Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M91.982,199.269L100.542,171.427L110.238,171.427L118.798,199.269L112.222,199.269L105.07,174.719L105.662,174.719L98.51,199.269L91.982,199.269ZM99.278,192.497L100.83,186.627L109.918,186.627L111.454,192.497L99.278,192.497Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M119.886,199.269L119.886,178.632L125.214,178.632L125.726,181.021L126.014,181.021C126.547,180.118 127.24,179.441 128.094,178.989C128.947,178.538 129.902,178.312 130.958,178.312C131.256,178.312 131.55,178.328 131.838,178.359C132.126,178.391 132.376,178.425 132.59,178.463L132.59,185.235C132.28,185.16 131.947,185.113 131.59,185.094C131.232,185.075 130.894,185.066 130.574,185.066C130.083,185.066 129.576,185.122 129.054,185.235C128.531,185.348 128.04,185.524 127.582,185.762C127.123,186 126.744,186.301 126.446,186.665L126.446,199.269L119.886,199.269Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M143.694,199.664C141.294,199.664 139.27,199.25 137.622,198.423C135.974,197.595 134.726,196.388 133.878,194.801C133.03,193.215 132.606,191.286 132.606,189.016C132.606,186.734 133.043,184.796 133.918,183.203C134.792,181.611 136.078,180.394 137.774,179.554C139.47,178.714 141.566,178.293 144.062,178.293C144.99,178.293 145.856,178.34 146.662,178.435C147.467,178.529 148.227,178.676 148.942,178.877L148.942,184.708C148.184,184.558 147.478,184.442 146.822,184.36C146.166,184.279 145.47,184.238 144.734,184.238C143.454,184.238 142.414,184.417 141.614,184.774C140.814,185.132 140.227,185.665 139.854,186.373C139.48,187.082 139.294,187.957 139.294,188.998C139.294,190.039 139.486,190.91 139.87,191.613C140.254,192.315 140.822,192.842 141.574,193.193C142.326,193.544 143.256,193.72 144.366,193.72C145.08,193.72 145.776,193.666 146.454,193.56C147.131,193.453 147.96,193.274 148.942,193.023L148.942,198.855C148.28,199.094 147.499,199.288 146.598,199.438C145.696,199.589 144.728,199.664 143.694,199.664Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M151.15,199.269L151.15,168.868L157.71,168.868L157.71,180.494L157.998,180.494C158.702,179.755 159.51,179.203 160.422,178.839C161.334,178.475 162.28,178.293 163.262,178.293C164.563,178.293 165.734,178.61 166.774,179.243C167.814,179.877 168.638,180.877 169.246,182.244C169.854,183.611 170.158,185.386 170.158,187.568L170.158,199.269L163.598,199.269L163.598,188.001C163.598,186.759 163.376,185.9 162.934,185.423C162.491,184.947 161.859,184.708 161.038,184.708C160.611,184.708 160.195,184.768 159.79,184.887C159.384,185.006 159.003,185.176 158.646,185.395C158.288,185.615 157.976,185.881 157.71,186.195L157.71,199.269L151.15,199.269Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M172.782,199.269L172.782,178.632L179.342,178.632L179.342,199.269L172.782,199.269ZM176.062,176.186C174.718,176.186 173.728,175.876 173.094,175.255C172.459,174.634 172.142,173.747 172.142,172.593C172.142,171.414 172.459,170.518 173.094,169.903C173.728,169.289 174.718,168.981 176.062,168.981C177.416,168.981 178.408,169.289 179.038,169.903C179.667,170.518 179.982,171.414 179.982,172.593C179.982,173.747 179.667,174.634 179.038,175.255C178.408,175.876 177.416,176.186 176.062,176.186Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M191.246,199.664C188.792,199.664 186.923,198.987 185.638,197.632C184.352,196.278 183.71,194.234 183.71,191.5L183.71,178.632L184.926,171.427L190.27,171.427L190.27,190.051C190.27,191.406 190.499,192.334 190.958,192.835C191.416,193.337 192.152,193.588 193.166,193.588C193.464,193.588 193.766,193.569 194.07,193.531C194.374,193.494 194.718,193.431 195.102,193.343L195.102,199.175C194.579,199.301 193.968,199.413 193.27,199.514C192.571,199.614 191.896,199.664 191.246,199.664ZM180.702,184.633L180.702,178.632L195.054,178.632L195.054,184.633L180.702,184.633Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M207.086,199.664C204.462,199.664 202.307,199.288 200.622,198.535C198.936,197.783 197.688,196.617 196.878,195.036C196.067,193.456 195.662,191.45 195.662,189.016C195.662,186.822 196.032,184.922 196.774,183.316C197.515,181.711 198.598,180.473 200.022,179.601C201.446,178.729 203.192,178.293 205.262,178.293C207.235,178.293 208.888,178.732 210.222,179.61C211.555,180.488 212.558,181.749 213.23,183.392C213.902,185.035 214.238,186.997 214.238,189.28L214.238,191.011L198.542,191.011L198.542,186.947L209.23,186.947L208.206,187.305C208.206,186.289 208.096,185.455 207.878,184.802C207.659,184.15 207.323,183.667 206.87,183.354C206.416,183.04 205.848,182.884 205.166,182.884C204.472,182.884 203.899,183.037 203.446,183.345C202.992,183.652 202.654,184.132 202.43,184.784C202.206,185.436 202.094,186.264 202.094,187.267L202.094,190.164C202.094,191.155 202.251,191.945 202.566,192.534C202.88,193.124 203.472,193.556 204.342,193.832C205.211,194.108 206.467,194.246 208.11,194.246C208.856,194.246 209.667,194.196 210.542,194.096C211.416,193.995 212.259,193.864 213.07,193.701L213.07,199.043C211.982,199.282 210.939,199.445 209.942,199.533C208.944,199.62 207.992,199.664 207.086,199.664Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M226.238,199.664C223.838,199.664 221.814,199.25 220.166,198.423C218.518,197.595 217.27,196.388 216.422,194.801C215.574,193.215 215.15,191.286 215.15,189.016C215.15,186.734 215.587,184.796 216.462,183.203C217.336,181.611 218.622,180.394 220.318,179.554C222.014,178.714 224.11,178.293 226.606,178.293C227.534,178.293 228.4,178.34 229.206,178.435C230.011,178.529 230.771,178.676 231.486,178.877L231.486,184.708C230.728,184.558 230.022,184.442 229.366,184.36C228.71,184.279 228.014,184.238 227.278,184.238C225.998,184.238 224.958,184.417 224.158,184.774C223.358,185.132 222.771,185.665 222.398,186.373C222.024,187.082 221.838,187.957 221.838,188.998C221.838,190.039 222.03,190.91 222.414,191.613C222.798,192.315 223.366,192.842 224.118,193.193C224.87,193.544 225.8,193.72 226.91,193.72C227.624,193.72 228.32,193.666 228.998,193.56C229.675,193.453 230.504,193.274 231.486,193.023L231.486,198.855C230.824,199.094 230.043,199.288 229.142,199.438C228.24,199.589 227.272,199.664 226.238,199.664Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M242.686,199.664C240.232,199.664 238.363,198.987 237.078,197.632C235.792,196.278 235.15,194.234 235.15,191.5L235.15,178.632L236.366,171.427L241.71,171.427L241.71,190.051C241.71,191.406 241.939,192.334 242.398,192.835C242.856,193.337 243.592,193.588 244.606,193.588C244.904,193.588 245.206,193.569 245.51,193.531C245.814,193.494 246.158,193.431 246.542,193.343L246.542,199.175C246.019,199.301 245.408,199.413 244.71,199.514C244.011,199.614 243.336,199.664 242.686,199.664ZM232.142,184.633L232.142,178.632L246.494,178.632L246.494,184.633L232.142,184.633Z"
            style="fill-rule:nonzero;"></path>
        </g>
        <g transform="matrix(1.15118,0,0,1.13303,-9.37941,-23.2428)">
          <path
            fill="currentColor"
            d="M82.706,243.078L82.706,227.59C83.524,227.433 84.342,227.314 85.16,227.233C85.977,227.151 86.856,227.11 87.794,227.11C90.241,227.11 92.086,227.554 93.33,228.443C94.575,229.332 95.197,230.747 95.197,232.689C95.197,234.523 94.596,235.919 93.394,236.875C92.193,237.832 90.344,238.31 87.848,238.31C87.492,238.31 87.151,238.303 86.824,238.289C86.497,238.274 86.159,238.249 85.81,238.214L85.81,243.078L82.706,243.078ZM87.869,236.091C89.398,236.091 90.498,235.819 91.17,235.275C91.842,234.731 92.178,233.873 92.178,232.699C92.178,231.519 91.841,230.662 91.165,230.129C90.489,229.595 89.455,229.329 88.061,229.329C87.62,229.329 87.22,229.343 86.861,229.371C86.502,229.4 86.152,229.446 85.81,229.51L85.81,235.963C86.152,236.006 86.482,236.038 86.802,236.059C87.122,236.081 87.478,236.091 87.869,236.091Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M97.117,243.078L97.117,227.697C97.608,227.59 98.141,227.492 98.717,227.403C99.293,227.314 99.894,227.243 100.52,227.19C101.145,227.137 101.768,227.11 102.386,227.11C104.761,227.11 106.546,227.499 107.741,228.278C108.936,229.057 109.533,230.317 109.533,232.059C109.533,233.161 109.254,234.084 108.696,234.827C108.137,235.57 107.325,236.129 106.258,236.502C105.192,236.875 103.897,237.062 102.376,237.062C101.985,237.062 101.613,237.053 101.261,237.035C100.909,237.017 100.541,236.998 100.157,236.977L100.157,243.078L97.117,243.078ZM107.421,243.078L101.661,235.686L105.074,235.686L110.888,243.078L107.421,243.078ZM102.504,234.833C103.94,234.833 104.989,234.61 105.65,234.166C106.312,233.721 106.642,233.023 106.642,232.07C106.642,231.401 106.5,230.865 106.216,230.459C105.931,230.054 105.494,229.761 104.904,229.579C104.313,229.398 103.56,229.307 102.642,229.307C102.152,229.307 101.707,229.329 101.309,229.371C100.911,229.414 100.527,229.471 100.157,229.542L100.157,234.705C100.427,234.733 100.685,234.758 100.93,234.779C101.176,234.801 101.423,234.815 101.672,234.822C101.921,234.829 102.198,234.833 102.504,234.833Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M118.941,243.281C117.291,243.281 115.857,242.975 114.637,242.363C113.417,241.752 112.472,240.845 111.8,239.643C111.128,238.441 110.792,236.955 110.792,235.185C110.792,233.414 111.128,231.928 111.8,230.726C112.472,229.524 113.419,228.617 114.642,228.006C115.865,227.394 117.298,227.089 118.941,227.089C120.598,227.089 122.038,227.396 123.261,228.011C124.484,228.626 125.43,229.535 126.098,230.737C126.767,231.938 127.101,233.421 127.101,235.185C127.101,236.948 126.765,238.431 126.093,239.633C125.421,240.834 124.472,241.743 123.245,242.358C122.018,242.973 120.584,243.281 118.941,243.281ZM118.941,240.806C119.972,240.806 120.861,240.61 121.608,240.219C122.354,239.828 122.929,239.222 123.33,238.401C123.732,237.579 123.933,236.529 123.933,235.249C123.933,233.933 123.729,232.856 123.32,232.017C122.911,231.177 122.333,230.559 121.586,230.161C120.84,229.762 119.958,229.563 118.941,229.563C117.931,229.563 117.051,229.757 116.301,230.145C115.551,230.532 114.971,231.137 114.562,231.958C114.153,232.779 113.949,233.833 113.949,235.121C113.949,236.45 114.152,237.535 114.557,238.374C114.962,239.213 115.538,239.828 116.285,240.219C117.032,240.61 117.917,240.806 118.941,240.806Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M129.213,243.078L129.213,227.291L141.17,227.291L141.17,229.702L132.317,229.702L132.317,243.078L129.213,243.078ZM131.016,236.486L131.016,234.075L140.04,234.075L140.04,236.486L131.016,236.486Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M142.941,243.078L142.941,227.291L154.952,227.291L154.952,229.649L146.002,229.649L146.002,240.721L155.058,240.721L155.058,243.078L142.941,243.078ZM144.466,236.177L144.466,233.819L153.842,233.819L153.842,236.177L144.466,236.177Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M161.298,243.281C160.417,243.281 159.565,243.218 158.744,243.094C157.922,242.969 157.149,242.793 156.424,242.566L156.424,240.091C156.929,240.262 157.469,240.404 158.045,240.518C158.621,240.632 159.193,240.717 159.762,240.774C160.331,240.831 160.854,240.859 161.33,240.859C162.632,240.859 163.554,240.667 164.098,240.283C164.642,239.899 164.914,239.355 164.914,238.651C164.914,238.054 164.706,237.601 164.29,237.291C163.874,236.982 163.133,236.724 162.066,236.518L160.882,236.283C159.19,235.956 157.969,235.425 157.218,234.689C156.468,233.953 156.093,232.987 156.093,231.793C156.093,230.313 156.664,229.16 157.805,228.331C158.946,227.503 160.665,227.089 162.962,227.089C163.759,227.089 164.514,227.135 165.229,227.227C165.944,227.32 166.593,227.451 167.176,227.622L167.176,230.086C166.585,229.901 165.929,229.759 165.208,229.659C164.486,229.56 163.759,229.51 163.026,229.51C162.095,229.51 161.345,229.597 160.776,229.771C160.207,229.945 159.794,230.194 159.538,230.518C159.282,230.841 159.154,231.227 159.154,231.675C159.154,232.251 159.336,232.696 159.698,233.009C160.061,233.321 160.722,233.574 161.682,233.766L162.866,233.99C164.104,234.232 165.097,234.555 165.848,234.961C166.598,235.366 167.14,235.862 167.474,236.449C167.809,237.035 167.976,237.72 167.976,238.502C167.976,239.505 167.709,240.361 167.176,241.073C166.642,241.784 165.878,242.329 164.882,242.71C163.887,243.09 162.692,243.281 161.298,243.281Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M174.056,243.281C173.174,243.281 172.322,243.218 171.501,243.094C170.68,242.969 169.906,242.793 169.181,242.566L169.181,240.091C169.686,240.262 170.226,240.404 170.802,240.518C171.378,240.632 171.951,240.717 172.52,240.774C173.089,240.831 173.611,240.859 174.088,240.859C175.389,240.859 176.312,240.667 176.856,240.283C177.4,239.899 177.672,239.355 177.672,238.651C177.672,238.054 177.464,237.601 177.048,237.291C176.632,236.982 175.89,236.724 174.824,236.518L173.64,236.283C171.947,235.956 170.726,235.425 169.976,234.689C169.225,233.953 168.85,232.987 168.85,231.793C168.85,230.313 169.421,229.16 170.562,228.331C171.704,227.503 173.423,227.089 175.72,227.089C176.516,227.089 177.272,227.135 177.986,227.227C178.701,227.32 179.35,227.451 179.933,227.622L179.933,230.086C179.343,229.901 178.687,229.759 177.965,229.659C177.243,229.56 176.516,229.51 175.784,229.51C174.852,229.51 174.102,229.597 173.533,229.771C172.964,229.945 172.552,230.194 172.296,230.518C172.04,230.841 171.912,231.227 171.912,231.675C171.912,232.251 172.093,232.696 172.456,233.009C172.818,233.321 173.48,233.574 174.44,233.766L175.624,233.99C176.861,234.232 177.855,234.555 178.605,234.961C179.355,235.366 179.897,235.862 180.232,236.449C180.566,237.035 180.733,237.72 180.733,238.502C180.733,239.505 180.466,240.361 179.933,241.073C179.4,241.784 178.635,242.329 177.64,242.71C176.644,243.09 175.449,243.281 174.056,243.281Z"
            style="fill-rule:nonzero;"></path>
          <rect
            x="182.546"
            y="227.291"
            width="3.104"
            height="15.787"
            style="fill-rule:nonzero;"
            fill="currentColor"></rect>
          <path
            fill="currentColor"
            d="M195.912,243.281C194.262,243.281 192.827,242.975 191.608,242.363C190.388,241.752 189.442,240.845 188.77,239.643C188.098,238.441 187.762,236.955 187.762,235.185C187.762,233.414 188.098,231.928 188.77,230.726C189.442,229.524 190.39,228.617 191.613,228.006C192.836,227.394 194.269,227.089 195.912,227.089C197.569,227.089 199.009,227.396 200.232,228.011C201.455,228.626 202.401,229.535 203.069,230.737C203.737,231.938 204.072,233.421 204.072,235.185C204.072,236.948 203.736,238.431 203.064,239.633C202.392,240.834 201.442,241.743 200.216,242.358C198.989,242.973 197.554,243.281 195.912,243.281ZM195.912,240.806C196.943,240.806 197.832,240.61 198.578,240.219C199.325,239.828 199.899,239.222 200.301,238.401C200.703,237.579 200.904,236.529 200.904,235.249C200.904,233.933 200.699,232.856 200.29,232.017C199.881,231.177 199.304,230.559 198.557,230.161C197.81,229.762 196.929,229.563 195.912,229.563C194.902,229.563 194.022,229.757 193.272,230.145C192.521,230.532 191.942,231.137 191.533,231.958C191.124,232.779 190.92,233.833 190.92,235.121C190.92,236.45 191.122,237.535 191.528,238.374C191.933,239.213 192.509,239.828 193.256,240.219C194.002,240.61 194.888,240.806 195.912,240.806Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M206.184,243.078L206.184,227.291L209.309,227.291L218.514,239.611L217.938,239.611L217.938,227.291L220.861,227.291L220.861,243.078L217.736,243.078L208.53,230.758L209.106,230.758L209.106,243.078L206.184,243.078Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M222.141,243.078L228.221,227.291L232.637,227.291L238.717,243.078L235.645,243.078L230.237,228.625L230.589,228.625L225.17,243.078L222.141,243.078ZM226.28,238.577L227.016,236.219L233.821,236.219L234.546,238.577L226.28,238.577Z"
            style="fill-rule:nonzero;"></path>
          <path
            fill="currentColor"
            d="M239.986,243.078L239.986,227.291L243.09,227.291L243.09,240.614L251.57,240.614L251.57,243.078L239.986,243.078Z"
            style="fill-rule:nonzero;"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
