---
type Props = {
  class?: string
}
---

<svg
  role="img"
  viewBox="0 0 511 410"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  class={Astro.props.class || ''}
>
  <title>AWS Serverless Hero Badge</title>
  <g id="Artboard1" transform="matrix(1,0,0,0.89575,-115.366,-47.4582)">
    <g>
      <g transform="matrix(1.61498,0,0,1.11638,-16.1252,31.7968)">
        <path
          fill="currentColor"
          d="M144.598,200.257C143.398,200.257 142.248,200.137 141.149,199.897C140.05,199.658 138.995,199.288 137.984,198.787L137.984,194.573C139.143,195.117 140.263,195.509 141.341,195.749C142.42,195.988 143.512,196.108 144.618,196.108C146.708,196.108 148.198,195.58 149.088,194.524C149.978,193.468 150.423,192.014 150.423,190.163C150.423,188.573 150.164,187.353 149.645,186.504C149.125,185.655 148.192,185.023 146.843,184.609L143.485,183.629C141.355,182.976 139.838,181.844 138.934,180.232C138.031,178.621 137.579,176.53 137.579,173.96C137.579,170.955 138.321,168.483 139.804,166.545C141.287,164.607 143.62,163.637 146.803,163.637C147.814,163.637 148.792,163.735 149.736,163.931C150.68,164.127 151.583,164.421 152.446,164.813L152.446,169.027C151.489,168.592 150.558,168.282 149.655,168.096C148.751,167.911 147.821,167.819 146.863,167.819C145.34,167.819 144.139,168.08 143.263,168.603C142.386,169.125 141.759,169.839 141.382,170.742C141.004,171.646 140.815,172.664 140.815,173.797C140.815,175.147 141.058,176.29 141.544,177.227C142.029,178.163 142.939,178.849 144.274,179.285L147.632,180.265C149.736,180.896 151.266,181.969 152.224,183.482C153.181,184.996 153.66,187.114 153.66,189.836C153.66,193.037 152.905,195.575 151.394,197.447C149.884,199.32 147.619,200.257 144.598,200.257Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M170.367,200.257C167.954,200.257 165.928,199.62 164.289,198.346C162.651,197.072 161.414,195.085 160.577,192.384C159.741,189.684 159.323,186.199 159.323,181.931C159.323,177.858 159.701,174.466 160.456,171.755C161.211,169.044 162.293,167.013 163.703,165.663C165.112,164.313 166.794,163.637 168.749,163.637C170.678,163.637 172.313,164.318 173.654,165.679C174.996,167.04 176.021,169.082 176.729,171.804C177.437,174.526 177.791,177.945 177.791,182.061L177.791,183.662L160.901,183.662L160.901,180.069L175.424,180.069L174.595,180.853C174.595,177.673 174.369,175.103 173.917,173.143C173.466,171.183 172.802,169.752 171.925,168.848C171.048,167.944 169.976,167.492 168.709,167.492C167.441,167.492 166.359,167.939 165.462,168.831C164.566,169.724 163.878,171.151 163.399,173.111C162.92,175.071 162.681,177.651 162.681,180.853L162.681,182.649C162.681,185.851 162.978,188.426 163.571,190.375C164.164,192.324 165.058,193.745 166.251,194.638C167.445,195.531 168.952,195.977 170.772,195.977C171.689,195.977 172.633,195.847 173.604,195.585C174.575,195.324 175.593,194.954 176.658,194.475L176.658,198.754C175.525,199.277 174.447,199.658 173.422,199.897C172.397,200.137 171.379,200.257 170.367,200.257Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M184.83,199.636L184.83,164.193L187.621,164.193L187.884,168.864L188.107,168.864C188.902,167.253 189.914,166.011 191.141,165.14C192.368,164.269 193.636,163.833 194.944,163.833C195.308,163.833 195.648,163.855 195.965,163.899C196.282,163.942 196.602,164.019 196.926,164.127L196.926,169.093C196.589,168.984 196.245,168.913 195.894,168.88C195.544,168.848 195.173,168.831 194.782,168.831C194.054,168.831 193.282,169.006 192.466,169.354C191.65,169.703 190.864,170.242 190.109,170.971C189.354,171.701 188.707,172.632 188.168,173.764L188.168,199.636L184.83,199.636Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M208.577,199.636L199.636,164.193L203.196,164.193L210.984,195.749L210.62,195.749L218.387,164.193L221.725,164.193L212.784,199.636L208.577,199.636Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M237.279,200.257C234.866,200.257 232.839,199.62 231.201,198.346C229.563,197.072 228.325,195.085 227.489,192.384C226.653,189.684 226.235,186.199 226.235,181.931C226.235,177.858 226.613,174.466 227.368,171.755C228.123,169.044 229.205,167.013 230.614,165.663C232.024,164.313 233.706,163.637 235.661,163.637C237.59,163.637 239.225,164.318 240.566,165.679C241.908,167.04 242.933,169.082 243.641,171.804C244.349,174.526 244.703,177.945 244.703,182.061L244.703,183.662L227.813,183.662L227.813,180.069L242.336,180.069L241.507,180.853C241.507,177.673 241.281,175.103 240.829,173.143C240.378,171.183 239.713,169.752 238.837,168.848C237.96,167.944 236.888,167.492 235.621,167.492C234.353,167.492 233.271,167.939 232.374,168.831C231.478,169.724 230.79,171.151 230.311,173.111C229.832,175.071 229.593,177.651 229.593,180.853L229.593,182.649C229.593,185.851 229.89,188.426 230.483,190.375C231.076,192.324 231.97,193.745 233.163,194.638C234.357,195.531 235.863,195.977 237.684,195.977C238.601,195.977 239.545,195.847 240.516,195.585C241.487,195.324 242.505,194.954 243.57,194.475L243.57,198.754C242.437,199.277 241.359,199.658 240.334,199.897C239.309,200.137 238.291,200.257 237.279,200.257Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M251.742,199.636L251.742,164.193L254.533,164.193L254.796,168.864L255.019,168.864C255.814,167.253 256.826,166.011 258.053,165.14C259.28,164.269 260.547,163.833 261.856,163.833C262.22,163.833 262.56,163.855 262.877,163.899C263.194,163.942 263.514,164.019 263.838,164.127L263.838,169.093C263.501,168.984 263.157,168.913 262.806,168.88C262.456,168.848 262.085,168.831 261.694,168.831C260.966,168.831 260.194,169.006 259.378,169.354C258.562,169.703 257.776,170.242 257.021,170.971C256.266,171.701 255.619,172.632 255.079,173.764L255.079,199.636L251.742,199.636Z"
          style="fill-rule:nonzero;"></path>
        <rect
          fill="currentColor"
          x="269.441"
          y="146.847"
          width="3.338"
          height="52.789"
          style="fill-rule:nonzero;"></rect>
        <path
          fill="currentColor"
          d="M291.246,200.257C288.832,200.257 286.806,199.62 285.167,198.346C283.529,197.072 282.292,195.085 281.456,192.384C280.62,189.684 280.202,186.199 280.202,181.931C280.202,177.858 280.579,174.466 281.334,171.755C282.09,169.044 283.172,167.013 284.581,165.663C285.99,164.313 287.672,163.637 289.628,163.637C291.556,163.637 293.191,164.318 294.533,165.679C295.874,167.04 296.899,169.082 297.607,171.804C298.315,174.526 298.669,177.945 298.669,182.061L298.669,183.662L281.779,183.662L281.779,180.069L296.303,180.069L295.473,180.853C295.473,177.673 295.247,175.103 294.796,173.143C294.344,171.183 293.68,169.752 292.803,168.848C291.927,167.944 290.855,167.492 289.587,167.492C288.32,167.492 287.237,167.939 286.341,168.831C285.444,169.724 284.756,171.151 284.277,173.111C283.799,175.071 283.559,177.651 283.559,180.853L283.559,182.649C283.559,185.851 283.856,188.426 284.449,190.375C285.043,192.324 285.936,193.745 287.13,194.638C288.323,195.531 289.83,195.977 291.65,195.977C292.567,195.977 293.511,195.847 294.482,195.585C295.453,195.324 296.471,194.954 297.536,194.475L297.536,198.754C296.404,199.277 295.325,199.658 294.3,199.897C293.275,200.137 292.257,200.257 291.246,200.257Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M311.473,200.257C310.273,200.257 309.123,200.137 308.024,199.897C306.925,199.658 305.87,199.288 304.859,198.787L304.859,194.573C306.018,195.117 307.138,195.509 308.216,195.749C309.295,195.988 310.388,196.108 311.493,196.108C313.583,196.108 315.074,195.58 315.964,194.524C316.854,193.468 317.299,192.014 317.299,190.163C317.299,188.573 317.039,187.353 316.52,186.504C316.001,185.655 315.067,185.023 313.718,184.609L310.361,183.629C308.23,182.976 306.713,181.844 305.809,180.232C304.906,178.621 304.454,176.53 304.454,173.96C304.454,170.955 305.196,168.483 306.679,166.545C308.163,164.607 310.495,163.637 313.678,163.637C314.689,163.637 315.667,163.735 316.611,163.931C317.555,164.127 318.458,164.421 319.321,164.813L319.321,169.027C318.364,168.592 317.433,168.282 316.53,168.096C315.626,167.911 314.696,167.819 313.739,167.819C312.215,167.819 311.015,168.08 310.138,168.603C309.262,169.125 308.634,169.839 308.257,170.742C307.879,171.646 307.691,172.664 307.691,173.797C307.691,175.147 307.933,176.29 308.419,177.227C308.904,178.163 309.814,178.849 311.149,179.285L314.507,180.265C316.611,180.896 318.141,181.969 319.099,183.482C320.056,184.996 320.535,187.114 320.535,189.836C320.535,193.037 319.78,195.575 318.269,197.447C316.759,199.32 314.494,200.257 311.473,200.257Z"
          style="fill-rule:nonzero;"></path>
        <path
          fill="currentColor"
          d="M333.177,200.257C331.977,200.257 330.827,200.137 329.728,199.897C328.629,199.658 327.574,199.288 326.563,198.787L326.563,194.573C327.722,195.117 328.842,195.509 329.92,195.749C330.999,195.988 332.091,196.108 333.197,196.108C335.287,196.108 336.777,195.58 337.667,194.524C338.557,193.468 339.002,192.014 339.002,190.163C339.002,188.573 338.743,187.353 338.224,186.504C337.704,185.655 336.771,185.023 335.422,184.609L332.064,183.629C329.934,182.976 328.417,181.844 327.513,180.232C326.61,178.621 326.158,176.53 326.158,173.96C326.158,170.955 326.9,168.483 328.383,166.545C329.866,164.607 332.199,163.637 335.382,163.637C336.393,163.637 337.371,163.735 338.315,163.931C339.259,164.127 340.162,164.421 341.025,164.813L341.025,169.027C340.068,168.592 339.137,168.282 338.234,168.096C337.33,167.911 336.4,167.819 335.442,167.819C333.919,167.819 332.718,168.08 331.842,168.603C330.965,169.125 330.338,169.839 329.961,170.742C329.583,171.646 329.394,172.664 329.394,173.797C329.394,175.147 329.637,176.29 330.123,177.227C330.608,178.163 331.518,178.849 332.853,179.285L336.211,180.265C338.315,180.896 339.845,181.969 340.803,183.482C341.76,184.996 342.239,187.114 342.239,189.836C342.239,193.037 341.484,195.575 339.973,197.447C338.463,199.32 336.198,200.257 333.177,200.257Z"
          style="fill-rule:nonzero;"></path>
      </g>
      <g transform="matrix(1,0,0,1.11638,9.76065,-27.2907)">
        <g transform="matrix(1.06358,0,0,1,-17.0952,0.981532)">
          <rect
            fill="currentColor"
            x="115.366"
            y="91.38"
            width="159.282"
            height="7.181"></rect>
        </g>
        <g transform="matrix(1.06358,0,0,1,323.894,0.981532)">
          <rect
            fill="currentColor"
            x="115.366"
            y="91.38"
            width="159.282"
            height="7.181"></rect>
        </g>
      </g>
      <g transform="matrix(3.20437,0,0,0.845226,-253.943,425.182)">
        <rect
          fill="currentColor"
          x="115.366"
          y="91.38"
          width="159.282"
          height="7.181"></rect>
      </g>
      <g transform="matrix(1.34231,0,0,1.49854,-196.789,-147.406)">
        <g transform="matrix(1,0,0,1,63.9582,0)">
          <path
            fill="currentColor"
            d="M492.886,392.687C483.48,392.687 475.293,390.896 468.325,387.313C461.357,383.731 455.948,378.34 452.099,371.141C448.25,363.943 446.326,354.917 446.326,344.064C446.326,333.211 448.247,324.186 452.09,316.987C455.932,309.787 461.338,304.397 468.308,300.814C475.277,297.232 483.47,295.441 492.886,295.441C502.31,295.441 510.506,297.241 517.474,300.842C524.442,304.443 529.846,309.842 533.686,317.042C537.526,324.241 539.446,333.248 539.446,344.064C539.446,354.88 537.524,363.888 533.681,371.087C529.838,378.285 524.427,383.685 517.449,387.286C510.471,390.887 502.283,392.687 492.886,392.687ZM492.886,372.977C497.426,372.977 501.29,372 504.48,370.047C507.67,368.094 510.1,365.026 511.77,360.843C513.44,356.66 514.276,351.226 514.276,344.541C514.276,337.538 513.427,331.881 511.729,327.569C510.031,323.258 507.587,320.111 504.397,318.127C501.207,316.143 497.37,315.151 492.886,315.151C488.4,315.151 484.563,316.114 481.373,318.039C478.183,319.965 475.74,323.019 474.042,327.202C472.344,331.385 471.495,336.846 471.495,343.587C471.495,350.645 472.334,356.33 474.014,360.641C475.694,364.952 478.124,368.086 481.305,370.042C484.485,371.999 488.346,372.977 492.886,372.977Z"
            style="fill-rule:nonzero;"></path>
        </g>
        <g transform="matrix(1,0,0,1,43.1203,0)">
          <path
            fill="currentColor"
            d="M380.557,391.424L380.557,299.025C383.559,298.346 386.791,297.737 390.255,297.196C393.718,296.655 397.273,296.233 400.92,295.93C404.566,295.627 408.171,295.476 411.734,295.476C425.763,295.476 436.35,298.022 443.496,303.112C450.642,308.203 454.215,316.102 454.215,326.807C454.215,333.71 452.55,339.496 449.221,344.164C445.892,348.831 441.185,352.349 435.101,354.718C429.016,357.087 421.844,358.272 413.584,358.272C411.97,358.272 410.457,358.241 409.043,358.179C407.629,358.117 406.18,358.054 404.697,357.991L404.697,391.424L380.557,391.424ZM435.563,391.424L406.18,347.924L432.292,347.924L462.25,391.424L435.563,391.424ZM414.119,340.183C419.797,340.183 424.07,339.154 426.936,337.097C429.802,335.039 431.236,331.615 431.236,326.825C431.236,323.715 430.609,321.165 429.357,319.174C428.105,317.183 426.237,315.715 423.755,314.77C421.273,313.825 418.175,313.353 414.462,313.353C412.618,313.353 410.888,313.431 409.272,313.587C407.656,313.743 406.131,313.956 404.697,314.226L404.697,339.654C405.745,339.766 406.774,339.866 407.786,339.953C408.797,340.039 409.82,340.1 410.856,340.133C411.892,340.166 412.979,340.183 414.119,340.183Z"
            style="fill-rule:nonzero;"></path>
        </g>
        <g transform="matrix(1,0,0,1,23.4395,0)">
          <path
            fill="currentColor"
            d="M320.013,391.424L320.013,296.704L389.395,296.704L389.395,316.183L344.263,316.183L344.263,371.945L390.035,371.945L390.035,391.424L320.013,391.424ZM334.433,352.791L334.433,333.312L382.762,333.312L382.762,352.791L334.433,352.791Z"
            style="fill-rule:nonzero;"></path>
        </g>
        <path
          fill="currentColor"
          d="M241.933,391.424L241.933,296.704L266.515,296.704L266.515,332.262L301.517,332.262L301.517,296.704L326.099,296.704L326.099,391.424L301.517,391.424L301.517,353.842L266.515,353.842L266.515,391.424L241.933,391.424Z"
          style="fill-rule:nonzero;"></path>
      </g>
      <g
        id="Amazon_Web_Services_Logo.svg"
        transform="matrix(0.382038,0,0,0.426501,370.565,94.0264)"
      >
        <g transform="matrix(1,0,0,1,-152,-91)">
          <g>
            <path
              fill="currentColor"
              d="M86.4,66.4C86.4,70.1 86.8,73.1 87.5,75.3C88.3,77.5 89.3,79.9 90.7,82.5C91.2,83.3 91.4,84.1 91.4,84.8C91.4,85.8 90.8,86.8 89.5,87.8L83.2,92C82.3,92.6 81.4,92.9 80.6,92.9C79.6,92.9 78.6,92.4 77.6,91.5C76.2,90 75,88.4 74,86.8C73,85.1 72,83.2 70.9,80.9C63.1,90.1 53.3,94.7 41.5,94.7C33.1,94.7 26.4,92.3 21.5,87.5C16.6,82.7 14.1,76.3 14.1,68.3C14.1,59.8 17.1,52.9 23.2,47.7C29.3,42.5 37.4,39.9 47.7,39.9C51.1,39.9 54.6,40.2 58.3,40.7C62,41.2 65.8,42 69.8,42.9L69.8,35.6C69.8,28 68.2,22.7 65.1,19.6C61.9,16.5 56.5,15 48.8,15C45.3,15 41.7,15.4 38,16.3C34.3,17.2 30.7,18.3 27.2,19.7C25.6,20.4 24.4,20.8 23.7,21C23,21.2 22.5,21.3 22.1,21.3C20.7,21.3 20,20.3 20,18.2L20,13.3C20,11.7 20.2,10.5 20.7,9.8C21.2,9.1 22.1,8.4 23.5,7.7C27,5.9 31.2,4.4 36.1,3.2C41,1.9 46.2,1.3 51.7,1.3C63.6,1.3 72.3,4 77.9,9.4C83.4,14.8 86.2,23 86.2,34L86.2,66.4L86.4,66.4ZM45.8,81.6C49.1,81.6 52.5,81 56.1,79.8C59.7,78.6 62.9,76.4 65.6,73.4C67.2,71.5 68.4,69.4 69,67C69.6,64.6 70,61.7 70,58.3L70,54.1C67.1,53.4 64,52.8 60.8,52.4C57.6,52 54.5,51.8 51.4,51.8C44.7,51.8 39.8,53.1 36.5,55.8C33.2,58.5 31.6,62.3 31.6,67.3C31.6,72 32.8,75.5 35.3,77.9C37.7,80.4 41.2,81.6 45.8,81.6ZM126.1,92.4C124.3,92.4 123.1,92.1 122.3,91.4C121.5,90.8 120.8,89.4 120.2,87.5L96.7,10.2C96.1,8.2 95.8,6.9 95.8,6.2C95.8,4.6 96.6,3.7 98.2,3.7L108,3.7C109.9,3.7 111.2,4 111.9,4.7C112.7,5.3 113.3,6.7 113.9,8.6L130.7,74.8L146.3,8.6C146.8,6.6 147.4,5.3 148.2,4.7C149,4.1 150.4,3.7 152.2,3.7L160.2,3.7C162.1,3.7 163.4,4 164.2,4.7C165,5.3 165.7,6.7 166.1,8.6L181.9,75.6L199.2,8.6C199.8,6.6 200.5,5.3 201.2,4.7C202,4.1 203.3,3.7 205.1,3.7L214.4,3.7C216,3.7 216.9,4.5 216.9,6.2C216.9,6.7 216.8,7.2 216.7,7.8C216.6,8.4 216.4,9.2 216,10.3L191.9,87.6C191.3,89.6 190.6,90.9 189.8,91.5C189,92.1 187.7,92.5 186,92.5L177.4,92.5C175.5,92.5 174.2,92.2 173.4,91.5C172.6,90.8 171.9,89.5 171.5,87.5L156,23L140.6,87.4C140.1,89.4 139.5,90.7 138.7,91.4C137.9,92.1 136.5,92.4 134.7,92.4L126.1,92.4ZM254.6,95.1C249.4,95.1 244.2,94.5 239.2,93.3C234.2,92.1 230.3,90.8 227.7,89.3C226.1,88.4 225,87.4 224.6,86.5C224.2,85.6 224,84.6 224,83.7L224,78.6C224,76.5 224.8,75.5 226.3,75.5C226.9,75.5 227.5,75.6 228.1,75.8C228.7,76 229.6,76.4 230.6,76.8C234,78.3 237.7,79.5 241.6,80.3C245.6,81.1 249.5,81.5 253.5,81.5C259.8,81.5 264.7,80.4 268.1,78.2C271.5,76 273.3,72.8 273.3,68.7C273.3,65.9 272.4,63.6 270.6,61.7C268.8,59.8 265.4,58.1 260.5,56.5L246,52C238.7,49.7 233.3,46.3 230,41.8C226.7,37.4 225,32.5 225,27.3C225,23.1 225.9,19.4 227.7,16.2C229.5,13 231.9,10.2 234.9,8C237.9,5.7 241.3,4 245.3,2.8C249.3,1.6 253.5,1.1 257.9,1.1C260.1,1.1 262.4,1.2 264.6,1.5C266.9,1.8 269,2.2 271.1,2.6C273.1,3.1 275,3.6 276.8,4.2C278.6,4.8 280,5.4 281,6C282.4,6.8 283.4,7.6 284,8.5C284.6,9.3 284.9,10.4 284.9,11.8L284.9,16.5C284.9,18.6 284.1,19.7 282.6,19.7C281.8,19.7 280.5,19.3 278.8,18.5C273.1,15.9 266.7,14.6 259.6,14.6C253.9,14.6 249.4,15.5 246.3,17.4C243.2,19.3 241.6,22.2 241.6,26.3C241.6,29.1 242.6,31.5 244.6,33.4C246.6,35.3 250.3,37.2 255.6,38.9L269.8,43.4C277,45.7 282.2,48.9 285.3,53C288.4,57.1 289.9,61.8 289.9,67C289.9,71.3 289,75.2 287.3,78.6C285.5,82 283.1,85 280,87.4C276.9,89.9 273.2,91.7 268.9,93C264.4,94.4 259.7,95.1 254.6,95.1Z"
              style="fill-rule:nonzero;"></path>
            <g>
              <path
                d="M273.5,143.7C240.6,168 192.8,180.9 151.7,180.9C94.1,180.9 42.2,159.6 3,124.2C-0.1,121.4 2.7,117.6 6.4,119.8C48.8,144.4 101.1,159.3 155.2,159.3C191.7,159.3 231.8,151.7 268.7,136.1C274.2,133.6 278.9,139.7 273.5,143.7Z"
                style="fill:rgb(255,153,0);"></path>
              <path
                d="M287.2,128.1C283,122.7 259.4,125.5 248.7,126.8C245.5,127.2 245,124.4 247.9,122.3C266.7,109.1 297.6,112.9 301.2,117.3C304.8,121.8 300.2,152.7 282.6,167.5C279.9,169.8 277.3,168.6 278.5,165.6C282.5,155.7 291.4,133.4 287.2,128.1Z"
                style="fill:rgb(255,153,0);"></path>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
