---
interface Props {
  date: Date
}

const { date } = Astro.props
---

<span>{date}</span>
<!-- <time datetime={date.toISOString()}>
	{
		date.toLocaleDateString('en-us', {
			year: 'numeric',
			month: 'short',
			day: 'numeric',
		})
	}
</time> -->
