---

---

<header class="sticky inset-x-0 top-0 z-50 bg-bg-900 text-text-900">
  <div
    class="mx-auto max-w-screen-xl px-4 relative flex h-16 items-center justify-between gap-4 sm:gap-8"
  >
    <div class="flex flex-1 items-center gap-4">
      <a href="/">
        <div class="inline-flex gap-1.5">
          <span aria-hidden="true" role="img">🦁</span>
          <span class="font-medium text-text-900">Luciano Mammino</span>
        </div>
      </a>
      <nav aria-label="Global" class="hidden lg:block lg:flex-1">
        <ul class="gap-4 flex justify-center">
          <li class="">
            <a href="/"
              ><div class="block font-medium text-text-900 hover:text-text-500">
                Blog
              </div></a
            >
          </li>
          <li class="">
            <a href="/speaking"
              ><div class="block font-medium text-text-900 hover:text-text-500">
                Speaking
              </div></a
            >
          </li>
          <li class="">
            <a href="/about"
              ><div class="block font-medium text-text-900 hover:text-text-500">
                About
              </div></a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex items-center justify-end gap-2 sm:gap-4">
      <a
        href="https://github.com/lmammino"
        rel="noreferrer"
        target="_blank"
        class="text-gray-900 hover:opacity-75"
      >
        <span class="sr-only"> GitHub</span>
        <svg
          aria-hidden="true"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 24 24"
          ><path
            clip-rule="evenodd"
            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
            fill-rule="evenodd"></path></svg
        >
      </a>
      TODO: more icons
      <div class="flex items-center lg:hidden">
        <button class="text-gray-900">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
          <span class="sr-only">Toggle menu</span>
        </button>
      </div>
    </div>
  </div>
</header>
<div id="hero" class="bg-bg-900 py-10">
  <div
    class="flex justify-center items-end relative mx-auto max-w-screen-xl h-[640px] overflow-hidden rounded-xl bg-accent-100 bg-cover [background-image:url('/big-wave.png')] [clip-path:border-box]"
  >
    <div class="absolute top-[3rem] flex flex-col justify-center z-[3]">
      <h1 class="text-9xl font-bold text-accent-900 z-[3] drop-shadow-lg">
        Luciano Mammino
      </h1>
    </div>
    <div class="absolute top-[11rem] flex flex-col justify-center z-[1]">
      <div
        class="text-4xl text-text-700 underline underline-offset-8 decoration-8 decoration-accent-500 z-[1]"
      >
        Cloud Architect &amp; Full Stack Developer
      </div>
    </div>
    <div class="flex justify-center align-bottom z-[2]">
      <div class="w-[480px] h-[480px]">
        <img
          id="profile-picture"
          src="/loige/FRAME_0.png"
          alt="Luciano Mammino"
          class="z-[2] fixed [transition:filter_.5s_ease-out_0s] w-[480px] h-[480px]"
        />
      </div>
    </div>
  </div>
</div>
<script>
  const PROFILE_NUM_FRAMES = 5
  const profilePic = document.getElementById(
    'profile-picture',
  ) as HTMLImageElement

  // preload scroll imageas
  for (let i = 0; i < PROFILE_NUM_FRAMES; i++) {
    const img = new Image()
    img.src = `/loige/FRAME_${i}.png`
  }

  const isListeningToMusic = false
  // changes the image frame on scroll
  let lastScroll = 0
  let currentFrame = 0
  let prefix = isListeningToMusic ? 'm_' : ''
  const SCROLL_TRIGGER_THRESHOLD = 20
  window.addEventListener('scroll', () => {
    let scrollDiff = lastScroll - window.scrollY
    if (Math.abs(scrollDiff) > SCROLL_TRIGGER_THRESHOLD) {
      const direction = window.scrollY > lastScroll ? 1 : -1
      currentFrame = (currentFrame + direction) % PROFILE_NUM_FRAMES
      if (currentFrame < 0) {
        currentFrame = PROFILE_NUM_FRAMES - 1
      }
      profilePic.src = `/loige/FRAME_${prefix}${currentFrame}.png`
      console.log(profilePic.src)
      lastScroll = window.scrollY
    }
  })
</script>
<style>
  #profile-picture {
    animation: pulse 1s ease-in-out infinite alternate;
  }
  @keyframes pulse {
    from {
      filter: grayscale(0);
      opacity: 0.85;
    }
    to {
      filter: grayscale(0.8);
      opacity: 1;
    }
  }
</style>
