---

---

<div
  id="hero"
  class="pt-10 bg-bg-500 [background:radial-gradient(circle_at_30%_60%,_var(--color-primary-200)_0%,transparent_30%),radial-gradient(circle_at_80%_90%,_var(--color-secondary-300)_0%,transparent_30%),radial-gradient(circle_at_bottom,_var(--color-accent-300)_0%,var(--color-bg-500)_60%)]"
>
  <div
    class="flex justify-center items-end relative mx-auto max-w-screen-xl h-[640px] overflow-hidden rounded-xl [clip-path:border-box]"
  >
    <div class="absolute top-[3rem] flex flex-col justify-center z-[3]">
      <h1 class="text-9xl font-bold text-text-600 z-[3] drop-shadow-lg">
        Luciano Mammino
      </h1>
    </div>
    <div class="absolute top-[11rem] flex flex-col justify-center z-[1]">
      <div class="font-serif text-4xl text-text-400 z-[1]">
        Cloud Architect &amp; Full Stack Developer
      </div>
    </div>
    <div class="flex justify-center align-bottom z-[2]">
      <div class="w-[480px] h-[480px]">
        <img
          id="profile-picture"
          src="/loige/FRAME_0.png"
          alt="Luciano Mammino"
          class="z-[2] fixed [transition:filter_.5s_ease-out_0s] w-[480px] h-[480px]"
        />
      </div>
    </div>
  </div>
</div>
<script>
  const PROFILE_NUM_FRAMES = 5
  const profilePic = document.getElementById(
    'profile-picture',
  ) as HTMLImageElement

  // preload scroll imageas
  for (let i = 0; i < PROFILE_NUM_FRAMES; i++) {
    const img = new Image()
    img.src = `/loige/FRAME_${i}.png`
  }

  const isListeningToMusic = false
  // changes the image frame on scroll
  let lastScroll = 0
  let currentFrame = 0
  let prefix = isListeningToMusic ? 'm_' : ''
  const SCROLL_TRIGGER_THRESHOLD = 20
  window.addEventListener('scroll', () => {
    let scrollDiff = lastScroll - window.scrollY
    if (Math.abs(scrollDiff) > SCROLL_TRIGGER_THRESHOLD) {
      const direction = window.scrollY > lastScroll ? 1 : -1
      currentFrame = (currentFrame + direction) % PROFILE_NUM_FRAMES
      if (currentFrame < 0) {
        currentFrame = PROFILE_NUM_FRAMES - 1
      }
      profilePic.src = `/loige/FRAME_${prefix}${currentFrame}.png`
      console.log(profilePic.src)
      lastScroll = window.scrollY
    }
  })
</script>
<style>
  #profile-picture {
    animation: pulse 1s ease-in-out infinite alternate;
  }
  @keyframes pulse {
    from {
      filter: grayscale(0);
      opacity: 0.85;
    }
    to {
      filter: grayscale(0.8);
      opacity: 1;
    }
  }
</style>
