---
type Props = {
  tags: {
    name: string
    link: string
    count: number
  }[]
  hideAllTagsButton?: boolean
}

const { tags, hideAllTagsButton } = Astro.props
---

<ul class="flex flex-wrap gap-2">
  {
    tags.map((tag) => (
      <li>
        <a
          href={tag.link}
          class="group inline-block bg-bg-300 hover:bg-bg-600 hover:text-text-700 rounded-xl py-2 px-4 text-sm text-text-400"
        >
          <span class="font-mono">#{tag.name}</span>{' '}
          <span class="ml-2 px-2 bg-bg-500 group-hover:bg-bg-800 group-hover:text-text-100 rounded-xl">
            {tag.count}
          </span>
        </a>
      </li>
    ))
  }
  {
    !hideAllTagsButton && (
      <li>
        <a
          href="/tag"
          class="inline-block bg-bg-300 hover:bg-bg-600 rounded-xl py-2 px-4 text-sm text-text-400"
        >
          All tags
        </a>
      </li>
    )
  }
</ul>
