@charset "utf-8";
:root sub,
:root sup {
  vertical-align: baseline;
}
a {
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transition: 0.7s;
  color: #19b5c6;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
a img {
  border: none;
}
a:hover {
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #5bdcea;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
abbr {
  cursor: help;
  border-bottom: 1px dotted;
  font-variant: normal;
}
acronym {
  border-bottom: 1px dotted;
  font-variant: normal;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #34393a;
  font-family: 'メイリオ', 'MS PGothic', sans-serif;
  font-size: 102%;
  font-wight: 500;
  line-height: 2em;
  text-rendering: optimizelegibility;
}
button::-moz-focus-inner,
input::-moz-focus-inner,
figure.highlight td,
.post .entry-content figure.highlight th {
  border: 0;
  padding: 0;
}
caption,
table,
td,
th {
  vertical-align: middle;
}
caption,
td,
th,
.table-align-left {
  text-align: left;
}
code,
figure.highlight .code,
pre {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Consolas, Monaco, Consolas, monospace;
}
code,
pre {
  background-color: #f5f2f0;
  margin: 0 3px;
  padding: 1px 8px;
}
code,
pre,
samp {
  font-size: 0.9em;
  letter-spacing: 0.05em;
}
del {
  text-decoration: line-through;
}
#article-nav {
  clear: both;
  margin: 6em 0 50px;
  position: relative;
  zoom: 1px;
}
#article-nav:after {
  clear: both;
  content: "";
  display: table;
}
#article-nav:before {
  content: "";
  display: table;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px #fff;
  box-shadow: 0 1px 2px #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
}
#article-nav-newer {
  float: left;
  padding-right: 20px;
  text-align: right;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
#article-nav-older {
  float: right;
  padding-left: 20px;
  text-align: left;
}
#container {
  margin-left: auto;
  margin-right: auto;
  width: 93.75%;
}
#footer {
  display: block;
  font-size: 70%;
  line-height: 1.6;
  margin: 0 0 3em;
}
#footer:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.moreRead:before,
.useFlame,
kbd,
.copyright,
.table-align-center {
  text-align: center;
}
.blog-title a,
.nav,
.nav-icon,
.loadingPutAbsolute,
.moreRead:before,
.titleWrapper {
  position: relative;
}
#header {
  display: block;
  margin: 0.5em 0 1em;
  position: static;
  text-align: center;
  position: relative;
}
#header:after {
  display: block;
  font-size: 0;
  height: 0;
}
#header:after,
.clearfix:after,
.nav ul:after {
  clear: both;
  visibility: hidden;
}
#main {
  margin-bottom: 3em;
  padding-left: 0;
}
.useFlame,
kbd {
  display: inline-block;
}
#page-nav a,
.photoby,
kbd {
  color: #4c5355;
}
* html .clearfix {
  height: 1%;
}
.alignleft,
.left {
  float: left;
}
.alignright,
.right {
  float: right;
}
.article-devider {
  border: 0;
  border-top: 5px solid #ddd;
  margin: 5em auto;
  width: 8%;
}
.article-nav-caption,
.nav {
  text-transform: uppercase;
}
.article-nav-caption {
  color: #ddd;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
}
.article-nav-link-wrap,
a {
  text-decoration: none;
}
.article-nav-link-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  display: block;
  margin-top: 0;
  text-align: center;
  width: 50%;
}
.article-nav-link-wrap:hover {
  color: #bfbfbf;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.nav ul {
  display: block;
}
.nav ul li {
  display: block;
}
.nav ul li a {
  display: block;
}
.authorCap {
  font-size: 1.5em;
}
.authorReading {
  font-size: 0.7em;
}
.blog-title {
  border-bottom: none;
  float: none;
  font-size: 120%;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 10px 0;
  padding-bottom: 0.2em;
}
.blog-title a {
  left: 0.1em;
  padding: 0.4em 0;
}
.circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
}
.copyright-title {
  font-size: 1.2em;
}
.copyright-tool {
  text-align: center;
  font-family: 'メイリオ', 'MS PGothic', sans-serif;
  margin: 1em 0 0 0;
}
h6.tag,
h6.categories {
  color: #19b5c6;
  font-size: 110%;
}
.entry-content {
  font-size: 100%;
}
.entry-content h2,
.entry-content h3,
.entry-content p.openMap {
  text-align: center;
}
.entry-content h1 {
  font-size: 170%;
  line-height: 1.5;
  margin: 1em 0 0.8em;
}
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  line-height: 1.5;
  margin: 1em 0 0.8em;
}
.entry-content h2 {
  border-bottom: 2px solid #19b5c6;
  color: #19b5c6;
  font-size: 160%;
  margin: 1.8em 0 0.5em;
  padding: 0.8em 0;
}
.entry-content h3 {
  color: #19b5c6;
  font-size: 150%;
  margin: 1.8em 0 0.5em;
  padding: 0.8em 0.5em;
}
.entry-content h4 {
  border-left: 2px solid #19b5c6;
  color: #19b5c6;
  font-size: 120%;
  margin: 1.8em 0 0.5em;
  padding-left: 1.2em;
  text-align: left;
}
.entry-content h5,
.entry-content h6 {
  color: #19b5c6;
  margin: 1.8em 0 0.5em;
  text-align: left;
}
.entry-content h5 {
  font-size: 110%;
  padding-left: 1.2em;
}
.entry-content h6 {
  font-size: 100%;
}
.entry-content p {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 2.2em;
  margin: 1.8em 0;
}
.entry-content p em {
  background-color: #faf7dc;
  color: #736e4f;
  font-style: normal;
  margin: 0 2px;
  padding: 3px;
}
.entry-content p strong {
  color: #734f4f;
  font-style: normal;
  margin: 0 2px;
  padding: 3px;
  background-color: #fadcdc;
}
.entry-content p.openMap {
  font-size: 0.8em;
  margin: 0;
  text-align: center;
}
.entry-content dl,
.entry-content ol,
.entry-content ul {
  margin: 1.8em 0 1.8em 1em;
  padding: 0;
}
.entry-content ol p,
.entry-content ul p,
.entry-content dl p {
  margin: 0;
}
.entry-content dl li,
.entry-content ol li {
  line-height: 1.8em;
  margin: 0.5em;
}
.entry-content ol {
  list-style: decimal !important;
}
.entry-content ol li {
  font-size: 1em;
  margin: 0.2em 0 0.2em 2.6em;
  padding: 0 0 0 0.1em;
  position: relative;
}
.entry-content ol p:not(:first-child),
.entry-content ul p:not(:first-child) {
  color: #4c5355;
}
.entry-content ol {
  padding: 0 /* paddingキャンセル */;
  margin: 0 /* marginキャンセル */;
  list-style: none /* olがはき出す数字を消す */;
}
.entry-content ol {
  counter-reset: number /* 名前を付けたカウンターをリセット */;
  list-style: none /* olが数字を付けることをキャンセル */;
  margin: 0;
  padding: 0;
}
.entry-content ol li:before {
  counter-increment: number /* 任意の名前を付けて！ */;
  content: counter(number) /* 名前を付けたカウンターを呼び出し */;
  position: absolute;
  left: -2.2em;
  top: 0.05em;
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0;
  float: left;
  background: #b7e2e4;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.6em;
}
.entry-content ol li p:first-child {
  display: inline-block;
  line-height: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
}
.entry-content ul {
  list-style: none;
}
.entry-content ul li {
  font-size: 1em;
  margin: 0.2em 0 0.2em 0.5em;
  padding: 0 0 0 0.2em;
  position: relative;
}
.entry-content ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: 0.4em;
  left: -1em;
  width: 8px;
  height: 8px;
  border-bottom: 3px solid #ddd;
}
.entry-content dl li ol,
.entry-content dl li ul {
  margin-bottom: 2em;
}
.entry-content ol li ol,
.entry-content ol li ul {
  margin-bottom: 2em;
}
.entry-content ul li ol,
.entry-content ul li ul {
  margin-bottom: 2em;
}
.entry-content blockquote p:last-child,
.entry-content .archive .post {
  margin-bottom: 0;
}
.entry-content blockquote {
  margin: 1.8em 0;
  padding: 0.5em 20px;
  position: relative;
  background-color: #f6f6f4;
}
.entry-content blockquote p {
  margin: 1em 0;
}
.entry-content blockquote:before {
  color: #dfdfd8;
  content: "”";
  font-family: sans-serif;
  font-size: 600%;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.entry-content blockquote blockquote:before {
  content: "";
}
.entry-content hr {
  border: 0;
  border-top: 3px solid #ddd;
  margin: 3em auto;
  width: 20%;
}
.entry-content img,
.entry-content video {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
.entry-content pre {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background: #f5f2f0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 0;
  font-size: 100%;
  line-height: 1.3;
  overflow-x: auto;
  padding: 15px;
}
.entry-content table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.85em;
  margin: 1.8em auto;
  width: auto;
}
.entry-content td {
  border: 1px solid #c4c4c4;
  line-height: 1.5em;
  padding: 0.6em 0.4em;
}
.entry-content th {
  background-color: #fdf7f4;
  border: 1px solid #c4c4c4;
  padding: 0.6em 0.4em;
}
.entry-content .attention {
  border: 1px solid #ce8a8a;
}
.entry-content .attention h5.label,
.entry-content .attention h6.label {
  color: #ce8a8a;
}
.entry-content .r-download {
  border: 1px solid #88a3c1;
}
.entry-content .r-download h5.label,
.entry-content .r-download h6.label {
  color: #88a3c1;
}
.entry-content .r-memo {
  border: 1px solid #88b9c1;
}
.entry-content .r-memo h5.label,
.entry-content .r-memo h6.label {
  color: #88b9c1;
}
.entry-content .attention,
.entry-content .r-download,
.entry-content .r-memo {
  margin: 2.2em 0;
  padding: 0;
}
.entry-content .attention h5.label,
.entry-content .r-download h5.label,
.entry-content .r-memo h5.label,
.entry-content .attention h6.label,
.entry-content .r-download h6.label,
.entry-content .r-memo h6.label {
  background: 0 0;
  background-color: none;
  border: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.2em 1.5em;
  padding: 0;
}
.entry-content .attention h6.label,
.entry-content .r-download h6.label,
.entry-content .r-memo h6.label {
  font-size: 1em;
}
.entry-content .attention p.label,
.entry-content .r-download p.label,
.entry-content .r-memo p.label {
  font-size: 0.85em;
  margin: 1.5em;
  padding: 0;
}
.entry-content .attention dl,
.entry-content .attention ol,
.entry-content .attention ul {
  margin: 1em 1em 1em 2em;
}
.entry-content .r-download dl,
.entry-content .r-download ol,
.entry-content .r-download ul {
  margin: 1em 1em 1em 2em;
}
.entry-content .r-memo dl,
.entry-content .r-memo ol,
.entry-content .r-memo ul {
  margin: 1em 1em 1em 2em;
}
.entry-content .attention h5.label,
.entry-content .attention h6.label {
  margin: 1em 1em 0;
}
.entry-content .r-download h5.label,
.entry-content .r-download h6.label {
  margin: 1em 1em 0;
}
.entry-content .r-memo h5.label,
.entry-content .r-memo h6.label {
  margin: 1em 1em 0;
}
.entry-content .attention ol li,
.entry-content .attention ul li {
  font-size: 0.85em;
}
.entry-content .r-download ol li,
.entry-content .r-download ul li {
  font-size: 0.85em;
}
.entry-content .r-memo ol li,
.entry-content .r-memo ul li {
  font-size: 0.85em;
}
.entry-content .attention p.label,
.entry-content .r-download p.label,
.entry-content .r-memo p.label {
  font-size: 0.85em;
  margin: 1em;
}
.entry-content figure.highlight {
  margin: 1.8em 0;
}
.entry-content figure.highlight td {
  border: 0;
  font-size: 1.1em;
  padding: 0;
}
.entry-content figure.highlight td.code {
  border-left: 1px solid #eceae8;
}
.entry-content iframe {
  width: 100% !important;
}
.entry-meta-header {
  font-size: 85%;
  left: -200px;
  margin-bottom: 1em;
  position: static;
  top: 0.5em;
  width: auto;
}
.entry-meta-header .date {
  font-family: 'メイリオ', 'MS PGothic', sans-serif;
  font-size: 1.5em;
}
.entry-meta-header .meta-elements {
  display: inline;
  margin-bottom: 0.5em;
  margin-right: 1em;
}
.gist {
  background: #fff;
  border: 1px solid color-gutter;
  color: #918577;
  line-height: 1.6;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
}
.gist .gist-file {
  border: none;
  font-family: inherit;
  font-size: 1em;
  letter-spacing: 0;
  margin: 0;
}
.gist .gist-file .gist-data {
  background: 0 0;
  border-bottom: none;
}
.gist .gist-file .gist-data pre {
  font-family: Menlo, Consolas, Monaco, Consolas, monospace;
  padding: 0 !important;
}
.gist .gist-file .gist-meta {
  background: 0 0;
  color: #918577;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}
.gist .gist-file .gist-meta a {
  color: #918577;
}
.gist .gist-file .gist-meta a:visited {
  color: #918577;
}
.gravatar-area {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 150px;
  margin: auto;
  padding: 8px;
  width: 150px;
  background-color: #ddd;
}
.article-tag,
.article-tag-list,
.article-categories,
.article-categories-list {
  padding: 0;
  margin: 0;
}
.article-categories {
  margin-bottom: 1.6em;
}
.article-tag-list li,
.article-categories-list li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0.2em 0;
}
.article-tag-list li a,
.article-categories-list li a {
  padding: 0.5em 0.6em;
  margin: 0.4em 0em;
  background-color: #f5f2f0;
  color: #34393a;
}
.article-tag-list li a:before,
.article-categories-list li a:before {
  content: "#";
}
.article-tag-list li a:hover,
.article-categories-list li a:hover {
  color: #fff;
  background-color: #2dd3e5;
}
.homeLink,
.htmlPageLink {
  font-weight: 700;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
  padding: 0.4em 0;
}
.homeLink a,
.htmlPageLink a {
  color: #fff;
  display: block;
  padding: 1em;
  text-align: center;
}
.homeLink:hover,
.htmlPageLink:hover {
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.homeLink {
  font-size: 120%;
  background: #44d7e7;
}
.homeLink:hover {
  background: #71e1ed;
}
.htmlPageLink {
  font-size: 110%;
  background: #44d7e7;
}
.htmlPageLink:hover {
  background: #71e1ed;
}
.line {
  font-size: 95%;
  letter-spacing: 0.05em;
  line-height: 2em;
}
.post {
  font-size: 90%;
  margin-bottom: 5em;
  position: relative;
}
.post .entry-header {
  margin-bottom: 2em;
}
.post .entry-title {
  font-size: 130%;
  margin: 0;
}
.post h1 {
  font-size: 1.2em;
}
.site-author-desc {
  font-size: 1.2em;
  line-height: 2em;
  margin-top: 1em;
}
.site-author-info {
  margin: 20px 0 0;
  padding: 1.2em;
}
.table-align-right {
  text-align: right;
}
figure.highlight {
  background: #fff;
  border: 1px solid color-gutter;
  font-size: 0.9em;
  line-height: 2;
  margin: 2.2em 0;
  overflow: auto;
  padding: 7px 10px;
  position: relative;
}
figure.highlight .code {
  border-left: 1px solid #fff;
  color: #918577;
}
figure.highlight .gutter {
  color: #d4d0cd;
  padding-right: 10px;
  text-align: left;
}
figure.highlight figcaption {
  color: #d4d0cd;
  margin-bottom: 5px;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  background: 0 0;
  border: none;
  margin: 0;
  padding: 8px;
}
figure.highlight table {
  border-spacing: 0;
  margin: 0;
}
.post .entry-content figure.highlight table {
  border-spacing: 0;
  margin: 0;
}
figure.highlight th {
  border: 0;
  font-weight: 400;
  padding: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #19b5c6;
}
img.responsive-img {
  height: auto;
  max-width: 100%;
}
video.responsive-video {
  height: auto;
  max-width: 100%;
}
kbd {
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 10px #e2e2e2 inset, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 3px 3px #333;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #fff;
  border-radius: 3px;
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 0 10px #e8e8e8 inset, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 3px 3px #333;
  box-shadow: 0 0 10px #e8e8e8 inset, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 3px 3px #333;
  font-size: 0.85em;
  line-height: 1;
  margin: 5px;
  padding: 6px 8px 3px;
  text-shadow: 0 1px 0 #fff;
  vertical-align: baseline;
  zoom: 1px;
}
pre .addition,
pre .css .tag,
pre .keyword,
pre .method,
pre .nginx .title,
pre .request,
pre .status,
pre .winutils {
  color: #1a9ca1;
}
pre .attr_selector,
pre .cdata,
pre .clojure .title,
pre .diff .change,
pre .important {
  color: #816ec5;
}
pre .preprocessor {
  color: #816ec5;
}
pre .preprocessor .keyword {
  color: #816ec5;
}
pre .shebang,
pre .special,
pre .subst {
  color: #816ec5;
}
pre .symbol {
  color: #816ec5;
}
pre .symbol .string {
  color: #816ec5;
}
pre .attribute,
pre .class .title,
pre .constant,
pre .haskell .type,
pre .lisp .body,
pre .parent,
pre .smalltalk .number,
pre .variable {
  color: #c38700;
}
pre .built_in,
pre .chunk,
pre .decorator,
pre .id,
pre .identifier,
pre .literal,
pre .localvars,
pre .title,
pre .vhdl,
pre .deletion {
  color: #b42147;
}
pre .command,
pre .hexcolor,
pre .number,
pre .phpdoc,
pre .regexp,
pre .string,
pre .tag .value,
pre .tex .formula {
  color: #6c9a1c;
}
pre .comment,
pre .diff .header,
pre .doctype,
pre .javadoc,
pre .lisp .string,
pre .pi,
pre .template_comment {
  color: #d4d0cd;
  font-wight: normal;
}
sub {
  bottom: -0.2em;
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
td.code,
.article-tag-list {
  padding: 0;
}
.entry-content .toc {
  background: #fff;
  padding: 1em 1em 1em 0;
  margin: 2.8em 0em;
  border: 1px solid #dcf1f2;
}
.entry-content .toc ul:first-child {
  border-top: none;
}
.entry-content .toc ul {
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  border-top: 1px dotted #dcf1f2;
}
.entry-content .toc ul ul,
.entry-content .toc ul ol {
  margin-bottom: 0;
  padding: 0;
  margin: 0 0 0 0.8em;
}
.entry-content .toc ul li {
  padding: 0;
  margin: 0 0 0 1em;
  border-top: 1px dotted #dcf1f2;
}
.entry-content .toc ul li a {
  display: block;
  padding: 10px 8px;
  color: #34393a;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.entry-content .toc ul li a:hover {
  color: #19b5c6;
  background-color: #dcf1f2;
}
.entry-content .toc ul li a:before {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 0.8em;
}
.entry-content .toc ul li ul,
.entry-content .toc ul li ol {
  margin-bottom: 0;
  padding: 0;
  margin: 0 0 0 0.8em;
}
.entry-content .toc ul li ul li a,
.entry-content .toc ul li ol li a {
  padding: 7px 10px;
  font-size: 0.9em;
}
.entry-content .toc ul li ul li a:before,
.entry-content .toc ul li ol li a:before {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 0.6em;
}
.entry-content .toc ul li:first-child {
  border-top: none;
}
.entry-content .toc ul li::after,
.entry-content .toc ul li::before {
  content: normal;
}
#totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2em;
  z-index: 995;
  line-height: 1.8em;
}
#totop a {
  background: rgba(220,241,242,0.6);
  text-decoration: none;
  color: #fff;
  padding: 0;
  text-align: center;
  display: block;
  width: 1.2em;
  height: 2.2em;
  line-height: 2em;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
#totop a:before,
#totop a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}
#totop a:before {
  left: 12px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#totop a:hover {
  text-decoration: none;
  background: #19b5c6;
  color: #fff;
  line-height: 2.3em;
}
@media (min-width: 800px) {
  #container {
    width: 780px;
    margin: 0 auto;
  }
}
