<div class="hello">
  <span class="picture">
    <img width="128" src="/public/images/profile-pic.jpg" alt="Luciano Mammino's profile picture"/>
    <h3>Hello :)</h3>
  </span>
  <p>
    I am Luciano a.k.a. <em>loige</em>, a passionate FullStack &amp; Cloud developer
    currently working as Senior Architect for <a
      href="https://fourtheorem.com/"
      target="_blank"
      rel="noopener noreferrer"
    >fourTheorem</a> in Dublin, Ireland. You can
    read some of my posts in this page, or <a href="/about">know more about myself and my side projects</a>
    or about my <a href="/speaking">talks and workshops</a>.
  </p>
</div>