<a class="sidebarAd"  href="https://www.nodejsdesignpatterns.com/">
  <span class="sidebarAd__columns">
    <span class="sidebarAd__column left">
      <img
        src="/public/images/book-cover-nodejs-design-patterns/200.jpg"
        alt="Node.js Design Patterns Third Edition"
/>
    </span>
    <span class="sidebarAd__column">
      <h4>Node.js Design Patterns</h4>
      <p>
        Design and implement production-grade <strong>Node.js</strong> 
        applications using proven patterns and techniques with 
        <em>Node.js Design Patterns Third Edition</em>. Available as 
        <strong>Digital</strong> and <strong>Print</strong>.
      </p>
    </span>
  </span>
</a>