<nav id="menu" role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tag/php">#Php</a></li>
        <li><a href="/tag/symfony">#Symfony</a></li>
        <li><a href="/tag/startup">#Startup</a></li>
        <!--<li><a href="/about">About</a></li>-->
    </ul>
</nav>