---
import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/posts/**/*.(md|mdx)')

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      frontmatter: post.frontmatter,
      Content: post.Content,
    },
  }))
}

const { slug } = Astro.params
const { frontmatter, Content } = await Astro.props
---

<Layout title={frontmatter.title}>
  <p>{slug}</p>
  <Content />
</Layout>
