---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { type PartialSEOProps } from '../components/SEO'

type Props = {
  section?: 'blog' | 'speaking' | 'about'
  seo?: PartialSEOProps
}

const { section, seo } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...seo} />
    <script is:inline>
      const savedTheme = localStorage.getItem('theme')
      // fixes local storage theme old values: light -> one-light, dark -> dark-plus
      if (savedTheme === 'light') {
        localStorage.setItem('theme', 'one-light')
        savedTheme = 'one-light'
      } else if (savedTheme === 'dark') {
        localStorage.setItem('theme', 'dark-plus')
        savedTheme = 'dark-plus'
      }

      const preferredTheme = ['dark-plus', 'one-light'].includes(savedTheme)
        ? savedTheme
        : window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark-plus'
          : 'one-light'
      document.documentElement.setAttribute('data-theme', preferredTheme)
    </script>
  </head>
  <body class="flex flex-col font-sans">
    <Header section={section} />
    <main class="min-h-screen pb-32">
      <slot />
    </main>
    <Footer />
  </body></html
>
